<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EPAGriffinAPI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-EPAGriffinAPI-20181031102942.mdf;Initial Catalog=aspnet-EPAGriffinAPI-20181031102942;Integrated Security=True" providerName="System.Data.SqlClient" />
  
     <!--<add name="DBConnectionString" connectionString="Data Source=.;Initial Catalog=EPAGRIFFIN;Integrated Security=true" providerName="System.Data.SqlClient" />
    <add name="EPAGRIFFINEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=EPAGRIFFIN;user id=sa;password=1234@a;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />--> 
   
    <!--CASPIAN-->
     <!--<add name="DBConnectionString" connectionString="Data Source=.;Initial Catalog=EPACSPN;Integrated Security=true" providerName="System.Data.SqlClient" />
    <add name="EPAGRIFFINEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=EPACSPN;user id=sa;password=1234@a;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />--> 
   
    
     <!--CASPIAN Server-->
     <!--<add name="DBConnectionString" connectionString="Data Source=192.168.101.37;Initial Catalog=EPACSPN;Integrated Security=false;User ID=sa;Password=1234@aA;" providerName="System.Data.SqlClient" />
    <add name="EPAGRIFFINEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.101.37;initial catalog=EPACSPN;user id=sa;password=1234@aA;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />--> 
   
    
    <!--CASPIAN web-->
     <!--<add name="DBConnectionString" connectionString="Data Source=185.141.132.14;Initial Catalog=ppa_cspn;Integrated Security=false;User ID=vahid;Password=Atrina1359@aA;" providerName="System.Data.SqlClient" />
    <add name="EPAGRIFFINEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=185.141.132.14;initial catalog=ppa_cspn;user id=vahid;password=Atrina1359@aA;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />--> 
   <!--fly aseman-->
     <add name="DBConnectionString" connectionString="Data Source=65.21.14.236;Initial Catalog=ppa_kish;Integrated Security=false;User ID=vahid;Password=Atrina1359@aA;" providerName="System.Data.SqlClient" />
    <add name="EPAGRIFFINEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=65.21.14.236;initial catalog=ppa_kish;user id=vahid;password=Atrina1359@aA;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /> 
   
    
      <!--fly local-->
     <!--<add name="DBConnectionString" connectionString="Data Source=.;Initial Catalog=FLY;Integrated Security=true" providerName="System.Data.SqlClient" />
    <add name="EPAGRIFFINEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=FLY;user id=sa;password=1234@a;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />--> 
    
    
    <!--Fly Server-->
     
    <!--<add name="DBConnectionString" connectionString="Data Source=172.16.32.35;Initial Catalog=EPAGRIFFIN;Integrated Security=false;User ID=sa;Password=Aa123456##;" providerName="System.Data.SqlClient" /> 
    <add name="EPAGRIFFINEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=172.16.32.35;initial catalog=EPAGRIFFIN;user id=sa;password=Aa123456##;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />--> 
   
    
  <!--WEB--> 
  <!--<add name="DBConnectionString" connectionString="Data Source=158.58.187.220\MSSQLSERVER2017;Initial Catalog=epa_pasco;Integrated Security=false;User ID=vahid;Password=Atrina1359;" providerName="System.Data.SqlClient" /> 
   <add name="EPAGRIFFINEntities" connectionString="metadata=res://*/Models.Model1.csdl|res://*/Models.Model1.ssdl|res://*/Models.Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=158.58.187.220\MSSQLSERVER2017;initial catalog=epa_pasco;user id=vahid;password=Atrina1359;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  
  
    </connectionStrings>
  <appSettings>

    <add key="web" value="http://localhost:30273/" />
    <add key="airline" value="caspianline" />
    <add key="nira" value="1" />
	  <add key="airline_code" value="HH" />
    <add key="mvt" value="0" />
    <add key="twofactor" value="0" />
    <add key="ipaccess" value="0" />
    <add key="checkftl" value="1" />
    <add key="flightno" value="FP" />
	   <add key="magfa_user" value="flypersia_48000" />
  <add key="magfa_pass" value="YYDWMU5BAJQQHCuG" />
  <add key="magfa_no" value="300048000" />
   <!--<add key="magfa_user" value="flypersia_48000" />
  <add key="magfa_pass" value="YYDWMU5BAJQQHCuG" />
  <add key="magfa_no" value="300048000" />-->
   <add key="email_cao_message" value="v.moghaddam59@gmail.com" />
    
    <!--<add key="email_dispatch" value="support@3dchain.net" />
    <add key="email_dispatch_title" value="FLYPERSIA Airlines Dispatch" />
    <add key="email_dispatch_password" value="3dchain@aA" />
    <add key="email_dispatch_host" value="giow1038.siteground.us" />
    <add key="email_dispatch_port" value="587" />-->
    
  
   <!--<add key="email_dispatch" value="scheduling@flypersia.aero" />
    <add key="email_dispatch_title" value="FLYPERSIA Airlines Dispatch" />
    
    <add key="email_dispatch_host" value="mail.flypersia.aero" />
    <add key="email_dispatch_port" value="26" />-->
    
  <add key="email_dispatch" value="support@3dchain.net" />
    <add key="email_dispatch_title" value="FLYPERSIA Airlines Dispatch" />
    <add key="email_dispatch_password" value="3dchain@aA" />
    <add key="email_dispatch_host" value="giow1038.siteground.us" />
    <add key="email_dispatch_port" value="587" />
    <add key="mvt_enabled" value="0" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.6.1" />
    <httpRuntime targetFramework="4.6.1" maxUrlLength="10999" maxQueryStringLength="2097151" />
      
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
     <security>
    <requestFiltering>
      <requestLimits maxQueryString="32768" />
    </requestFiltering>
  </security>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    
    <validation validateIntegratedModeConfiguration="false" />
    <!--<httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="*" />
        <add name="Access-Control-Allow-Methods" value="GET,POST,PUT,DELETE,OPTIONS" />
        <add name="Access-Control-Allow-Credentials" value="true" />
      </customHeaders>
    </httpProtocol>-->
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.6.0" newVersion="5.2.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.5.0.20627" newVersion="7.5.0.20627" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Spatial" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.5.0.20627" newVersion="7.5.0.20627" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.OData.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.5.0.20627" newVersion="7.5.0.20627" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.3" newVersion="4.1.1.3" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.7.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="TrainingWSSoap" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <security mode="Transport" />
        </binding>
        <binding name="TrainingWSSoap1" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://192.168.101.33/IdeaWeb/Apps/Services/TrainingWS.asmx" binding="basicHttpBinding" bindingConfiguration="TrainingWSSoap" contract="IdeaServiceRef.TrainingWSSoap" name="TrainingWSSoap" />
    </client>
  </system.serviceModel>
  <applicationSettings>
    <EPAGriffinAPI.Properties.Settings>
      <setting name="EPAGriffinAPI_com_magfa_sms_SoapSmsQueuableImplementationService" serializeAs="String">
        <value>https://80.253.147.99/services/urn:SOAPSmsQueue</value>
      </setting>
      <setting name="EPAGriffinAPI_payamak_Actions" serializeAs="String">
        <value>http://api.payamak-panel.com/post/actions.asmx</value>
      </setting>
    </EPAGriffinAPI.Properties.Settings>
  </applicationSettings>
</configuration>