<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="devExpress">
      <section name="themes" type="DevExpress.Web.ThemesConfigurationSection, DevExpress.Web.v19.2, Version=19.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="compression" type="DevExpress.Web.CompressionConfigurationSection, DevExpress.Web.v19.2, Version=19.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="settings" type="DevExpress.Web.SettingsConfigurationSection, DevExpress.Web.v19.2, Version=19.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="errors" type="DevExpress.Web.ErrorsConfigurationSection, DevExpress.Web.v19.2, Version=19.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
      <section name="resources" type="DevExpress.Web.ResourcesConfigurationSection, DevExpress.Web.v19.2, Version=19.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="nwind" connectionString="XpoProvider=MSAccess;Provider=Microsoft.Jet.OLEDB.4.0;Mode=Share Deny None;data source=D:\DataSources\nwind.mdb;user id=;password=;" />
    <add name="JsonConnection" connectionString="Uri=&quot;http://fleet.flypersia.aero/api.airpocket/odata/fuel/report/?dt=2200-05-19T00:00:00&amp;df=1900-05-19T00:00:00&amp;%24orderby=STDDay%2CSTDLocal&amp;%24filter=(FlightId%20gt%200)&quot;"
      providerName="JsonSourceProvider" />
    <add name="JsonConnection5" connectionString="Uri=&quot;http://fleet.flypersia.aero/api.airpocket/odata/fuel/report/?$top=20&amp;dt=2020-04-12T00:00:00&amp;df=2020-01-12T00:00:00&amp;%24orderby=STDDay%2CSTDLocal&amp;%24filter=(FlightId%20gt%200)&quot;"
      providerName="JsonSourceProvider" />
    <add name="JsonConnection 1" connectionString="Uri=http://api.airpocket.ir/odata/report/test"
      providerName="JsonSourceProvider" />
    <add name="CrewPocket" connectionString="Uri=&quot;http://api.epapocket.ir/odata/crew/flights/app2/?id=297&amp;df=20200101&amp;dt=20200603&amp;status=-1&amp;airline=-1&amp;report=-1&quot;"
      providerName="JsonSourceProvider" />
    <add name="JsonConnection_caspian" connectionString="Uri=http://fleet.caspianairlines.com/api/odata/forma/2020/2020"
      providerName="JsonSourceProvider" />
    <add name="JsonConnection_delay" connectionString="Uri=&quot;http://localhost:58908/odata/delays/periodic/report/31/ATC_HANDLING_FUEL?dt=2020-09-21T07:48:46&amp;df=2020-08-22T07:48:46&quot;"
      providerName="JsonSourceProvider" />
    <add name="JsonConnection_trianingcard" connectionString="Uri=http://localhost:58908/odata/employee/training/card/10"
      providerName="JsonSourceProvider" />
    <add name="JsonConnectionTrainigCard2" connectionString="Uri=http://localhost:58908/odata/employee/training/card/3393"
      providerName="JsonSourceProvider" />
    <add name="JsonConnectionTrainingCard3" connectionString="Uri=http://localhost:58908/odata/employee/training/card/312"
      providerName="JsonSourceProvider" />
    <add name="JsonConnection_forma" connectionString="Uri=http://localhost:58908/odata/forma/2020/2020"
      providerName="JsonSourceProvider" />
    <add name="JsonConnection_formayear" connectionString="Uri=http://localhost:58908/odata/forma/yearly/2019/2021"
      providerName="JsonSourceProvider" />
    <add name="JsonConnection_RosterFP" connectionString="Uri=&quot;http://localhost:58908/odata/roster/report/fp?day=2021-03-13&quot;"
      providerName="JsonSourceProvider" />
    <add name="JsonConnection_ExtApi" connectionString="Uri=&quot;http://localhost:12271/api/flights/apt?apt=THR&amp;airline=CASPIAN&amp;dt=2021-01-01&quot;"
      providerName="JsonSourceProvider" />
    <add name="JsonConnection_aptrange" connectionString="Uri=&quot;http://localhost:12271/api/flights/apt/range/1?dtfrom=2021-06-21&amp;dtto=2021-06-28&amp;apt=THR&amp;airline=CASPIAN&quot;"
      providerName="JsonSourceProvider" />
    <add name="JsonConnection_certificates" connectionString="Uri=http://localhost:4000/api/certificates/history/3425"
      providerName="JsonSourceProvider" />
    <add name="JsonConnection_apt_range_daily" connectionString="Uri=http://localhost:12271/api/flights/apt/range/type2/1"
      providerName="JsonSourceProvider" />
    <add name="JsonConnection_CityPair" connectionString="Uri=&quot;http://localhost:8888/odata/citypair/report?year=2021&amp;month=5&quot;"
      providerName="JsonSourceProvider" />
    <add name="jsonConnectionRoster" connectionString="Uri=&quot;https://fleet.flypersia.aero/expapi/api/roster/report/date/?df=2021-08-23&amp;revision=0&quot;"
      providerName="JsonSourceProvider" />
    <add name="JsonConnection_asr" connectionString="Uri=http://localhost:12271/api/asr/flight/view/58569"
      providerName="JsonSourceProvider" />
    <add name="JsonConnection_CER" connectionString="Uri=http://localhost:4000/api/certificate/155"
      providerName="JsonSourceProvider" />
    <add name="ppa_cspnEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=185.141.132.14;initial catalog=ppa_taban;user id=vahid;password=Atrina1359@aA;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ppa_taban_Connection" connectionString="XpoProvider=MSSqlServer;data source=185.141.132.14;user id=Vahid;password=Atrina1359@aA;initial catalog=ppa_taban;Persist Security Info=true" />
    <add name="JsonConnection_formb" connectionString="Uri=&quot;https://kapilog.apvaresh.com/odata/formb/report?year=2022&amp;qrt=3&quot;"
      providerName="JsonSourceProvider" />
    <add name="JsonConnection_formc" connectionString="Uri=&quot;https://kapilog.apvaresh.com/odata/formc/report?year=2022&amp;month=8&quot;"
      providerName="JsonSourceProvider" />
  </connectionStrings>
  <appSettings>
    <add key="api_url" value="http://localhost:8888/" />
    <add key="api_url1" value="http://localhost:58908/" />
    <add key="api_url_ext" value="http://localhost:12271/" />
    <add key="api_url_trn" value="http://localhost:4000/" />
    <add key="api_url_ext_temp" value="http://localhost:4000/" />
    <add key="customer" value="flypersia" />
    <add key="folder" value="C:\Users\Vahid\source\repos\PPA\WebApp\upload\clientsfiles" />
  </appSettings>
  <!--
		For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

		The following attributes can be set on the <httpRuntime> tag.
			<system.Web>
				<httpRuntime targetFramework="4.6.1" />
			</system.Web>
	-->
  <system.web>
    <compilation debug="true" targetFramework="4.6.1">
      <assemblies>
        <add assembly="DevExpress.XtraReports.v19.2.Web.WebForms, Version=19.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.v19.2, Version=19.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.XtraReports.v19.2.Web, Version=19.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
        <add assembly="DevExpress.Web.Resources.v19.2, Version=19.2.5.0, Culture=neutral, PublicKeyToken=B88D1754D700E49A" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.6.1" />
    <httpModules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </httpModules>
    <httpHandlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v19.2, Version=19.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" validate="false" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXXRDV.axd" validate="false" />
    </httpHandlers>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <modules>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" name="ASPxHttpHandlerModule" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET" path="DX.ashx" name="ASPxHttpHandlerModule" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxUploadProgressHttpHandler, DevExpress.Web.v19.2, Version=19.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="ASPxUploadProgressHandlerPage.ashx" name="ASPxUploadProgressHandler" preCondition="integratedMode" />
      <add type="DevExpress.Web.ASPxHttpHandlerModule, DevExpress.Web.v19.2, Version=19.2.5.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a" verb="GET,POST" path="DXXRDV.axd" name="ASPxWebDocumentViewerHandlerModule" preCondition="integratedMode" />
    </handlers>
  </system.webServer>
  <devExpress>
    <themes enableThemesAssembly="true" styleSheetTheme="" theme="" customThemeAssemblies="" baseColor="" font="" />
    <compression enableHtmlCompression="false" enableCallbackCompression="true" enableResourceCompression="true" enableResourceMerging="true" />
    <settings accessibilityCompliant="false" bootstrapMode="" doctypeMode="Html5" rightToLeft="false" checkReferencesToExternalScripts="true" protectControlState="true" ieCompatibilityVersion="edge" />
    <errors callbackErrorRedirectUrl="" />
    <resources>
      <add type="ThirdParty" />
      <add type="DevExtreme" />
    </resources>
  </devExpress>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>