<style>
    .dx-toolbar .dx-toolbar-items-container {
        height: 36px !important;
    }
</style>
<div class="box dailyroster2" style="height:100%;display:none;overflow-y:hidden">


    <div ng-include="'app/views/header.html'" class="rowx header"></div>

    <div class="rowx content" style="clear:both">
        <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-3 col2 filter" style="display:none">
            <div class="filter-container box">
                <div class="header">Filter</div>
                <div class="content">
                    <div ng-include="'app/views/filter.html'" ng-init="type = 'person';" style="flex: 1 1 auto;display: flex;  width:100%;"></div>
                </div>

            </div>

        </div>
        <div class=" col-lg-9 col-md-9 col-sm-9 col-xs-9 col1" style="padding-right:2px;padding-left:2px;">
            <div dx-data-grid="dg" id="grid">

            </div>

        </div>
    </div>
    <div class="rowx footer">
        <table style="width:100%;margin:0;padding:0;">
            <tr>

                <td style="width:150px;text-align:right;padding-right:5px" class="dx-border"><div class="center" dx-date-box="date_from" dx-validator="{validationGroup:'frssearch',  validationRules: [{ type: 'required'}]}"></div></td>
                <!--<td style="width:150px;text-align:right;padding-right:5px" class="dx-border"><div class="center" dx-date-box="date_to" dx-validator="{validationGroup:'frssearch',  validationRules: [{ type: 'required'}]}"></div></td>-->

                <td style="width:130px;text-align:left;padding-right:5px"><div dx-button="btn_search"></div></td>

                <td></td>
                <td style="width:130px;text-align:left;padding-right:5px"><div dx-button="btn_print"></div></td>
                <!--<td style="width:130px;text-align:left;padding-right:5px"><div dx-button="btn_person"></div></td>
                <td style="width:130px;text-align:left;padding-right:5px"><div dx-button="btn_flight"></div></td>
                <td style="width:130px;text-align:left;padding-right:5px"><div dx-button="btn_flight_total"></div></td>-->
            </tr>
        </table>
    </div>



    <div dx-load-panel="loadPanel"></div>


    <div id="popup_sec" dx-popup="popup_sec">
        <div id="scrollview" dx-scroll-view="scroll_sec">
            <div id="sec" class="page-a4 dx-border1" style="font-size:13px;">
                <div class="subpage">


                    <div class="div3" style="position:relative;/*height:224px;*/padding-left:10px;padding-right:22px;display:flex;padding-top:20px;">
                        <div style="padding:0;margin:0;width:20%;display:inline-block;position:relative;/*top:-200px;*/">
                            <img src="../../airpocket/content/images/airline.png" style="margin-left:5px;" />

                        </div>
                        <div style="padding:0;margin:0;width:60%;display:inline-block;position:relative;font-size:24px;padding-top:10px;text-align:center">
                            Daily Roster
                        </div>
                        <div style="padding:0;margin:0;width:20%;display:inline-block;position:relative;font-size:24px;padding-top:10px;text-align:left">
                            <div>{{pday}}</div>
                            <div>{{pgdate}}</div>
                            <div>{{pdate}}</div>
                            
                        </div>
                        <div style="clear:both"></div>

                    </div>

                    <div id="tb-container" class="div2 bdiv" style="position:relative;padding-left:16px;margin-top:2px;padding-right:10px;text-align:center">


                    </div>
                    <div style="clear:both"></div>


                    <!--<div class="div2" style="position:relative;padding-left:16px;margin-top:0px;padding-right:10px;text-align:center">
                        <table style="width:95%">
                            <tr>
                                <td style="font-size: 11px;text-align:right;padding-right:5px;width:10%">Form No:</td>
                                <td style="font-size: 11px;width:23%;text-align:left">{{jl.formNo}}</td>
                                <td style="font-size: 11px;text-align:right;padding-right:5px;width:10%">Tel:</td>
                                <td style="font-size: 11px;width:23%;text-align:left">{{jl.tel}}</td>
                                <td style="font-size: 11px;text-align:right;padding-right:5px;width:10%">Email:</td>
                                <td style="font-size: 11px;width:16%;text-align:left">{{jl.email}}</td>
                            </tr>
                        </table>
                    </div>-->
                </div>



            </div>


        </div>




    </div>






</div>


