<div class="box library" style="height:100%;display:none;overflow-y:hidden">


    <div ng-include="'app/views/header.html'" class="rowx header"></div>
    <div class="rowx content" style="clear:both">
        <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-3 col2 filter" style="display:none">
            <div class="filter-container box">
                <div class="header">Filter</div>
                <div class="content">
                    <div ng-include="'app/views/filter.html'" ng-init="type = 'library';" style="flex: 1 1 auto;display: flex;  width:100%;"></div>
                </div>

            </div>

        </div>

        <div class=" col-lg-9 col-md-6 col-sm-9 col-xs-9 col1" style="padding-right:2px;padding-left:2px;  ">
            <div class="filter-container box  ">
                <div class="header">Items</div>


                <div dx-data-grid="dg_doc" id="dg_doc" class="content" style="overflow-y:hidden"></div>

            </div>

        </div>





    </div>


    <div class="rowx footer">
        <div class=" col-lg-11 col-md-11 col-sm-11 col-xs-11" style="padding:0;">
            <div dx-button="btn_search"></div>

            <div dx-button="btn_new" ng-show="IsEditableDoc"></div>
            <div dx-button="btn_edit" ng-show="IsEditableDoc"></div>
            <div dx-button="btn_view" ng-show="!IsEditableDoc"></div>
            <div dx-button="btn_expose" ng-show="IsEditableDoc"></div>
            <div dx-button="btn_employees"></div>
            <div dx-button="btn_delete" ng-show="IsEditableDoc"></div>
            <!--<div dx-button="btn_new"></div>
    <div dx-button="btn_employees"></div>
    <div dx-button="btn_edit"></div>

    <div dx-button="btn_delete"></div>-->
        </div>
        <div class=" col-lg-1 col-md-1 col-sm-1 col-xs-1" style="padding:0;text-align:right">
            <div dx-button="btn_filter"></div>
        </div>
        <div style="clear:both"></div>
    </div>


    <div id="popup_employees" dx-popup="popup_employees">

        <div class="box">
            <div class="rowx content" style="clear:both">
                <div class=" col-lg-3 col-md-3 col-sm-12 col-xs-12 col2">
                    <div class="filter-container box dx-border">
                        <div class="header">{{itemCaption}}</div>
                        <div id="scrollview" dx-scroll-view="scroll_employees">
                            <div style="display:inline-block;padding-right:5px;">


                                <div class="col-lg-12 col-md-8 col-sm-12 col-12   padding-7" style="padding:10px 0 10px 7px">
                                    <label style="margin-bottom:5px;font-weight:bold;">Publisher/Sender</label>
                                    <div ng-bind-html="Sender">

                                    </div>
                                </div>
                                <div class="col-lg-12 col-md-8 col-sm-12 col-12   padding-7" style="padding:0 0 10px 7px">
                                    <label style="margin-bottom:5px;font-weight:bold;">No</label>
                                    <div ng-bind-html="No">

                                    </div>
                                </div>
                                <div style="clear:both;margin-top:10px"></div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7 dx-border">
                                    <label>Abstract</label>
                                    <div dx-text-area="txt_Abstract"></div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7 dx-border">
                                    <label>Keywords</label>
                                    <div dx-text-area="txt_Keywords"></div>
                                </div>
                                <a ng-href="downloadhandler.ashx?t=book&id={{bookid}}" class="w3-button w3-block w3-blue" style="width:50%;margin:0 auto 5px auto;text-decoration:none">Download</a>


                            </div>

                        </div>


                    </div>

                </div>
                <div class=" col-lg-9 col-md-9 col-sm-12 col-xs-12 col1" style="padding-right:2px;padding-left:5px;">

                    <div dx-data-grid="dg_employees" id="grid"></div>

                    <div style="display: block">
                        <div style="padding:5px;">
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" style="padding:5px;text-align:center">
                                <div class="card-number cn w3-2017-marina" ng-click="filterStatus($event,-1)">
                                    <div class="caption">  Not Visited</div>
                                    <div class="value">
                                        {{dg_book_selected.NotVisited}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" style="padding:5px;text-align:center">
                                <div class="card-number cn w3-2017-marina" ng-click="filterStatus($event,-2)">
                                    <div class="caption">
                                        Not Downloaded
                                    </div>
                                    <div class="value">
                                        {{dg_book_selected.NotDownloaded}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" style="padding:5px;text-align:center">
                                <div class="card-number cn w3-2017-marina" ng-click="filterStatus($event,1)">
                                    <div class="caption">
                                        Visited
                                    </div>
                                    <div class="value">
                                        {{dg_book_selected.Visited}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" style="padding:5px;text-align:center">
                                <div class="card-number cn w3-2017-marina" ng-click="filterStatus($event,2)">
                                    <div class="caption">
                                        Downloaded
                                    </div>
                                    <div class="value">
                                        {{dg_book_selected.Downloaded}}
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-2 col-md-2 col-sm-6 col-xs-6" style="padding:5px;text-align:center">
                                <div class="card-number cn w3-win-phone-green">
                                    <div class="caption">
                                        Total
                                    </div>
                                    <div class="value">
                                        {{dg_book_selected.Total}}
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div style="clear:both"></div>



                    </div>


                </div>
            </div>

        </div>
    </div>
    <div id="popup_expose" dx-popup="popup_expose">
        <div style="padding:20px 0 0 0">
            <div class="col-lg-4 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">

                <div dx-check-box="chb_SMS"></div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">

                <div dx-check-box="chb_Email"></div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">

                <div dx-check-box="chb_AppNotification"></div>
            </div>
        </div>

    </div>

    <div id="popup_notify" dx-popup="popup_notify">
        <div style="padding:10px 0 0 0">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7 dx-border">
                <label>Message</label>
                <div dx-text-area="txt_MessageNotify"></div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">

                <div dx-check-box="chb_SMSNotify"></div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">

                <div dx-check-box="chb_EmailNotify"></div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">

                <div dx-check-box="chb_AppNotificationNotify"></div>
            </div>
        </div>

    </div>


    <div ng-include="'app/views/documentAdd.html'"></div>

    <div dx-load-panel="loadPanel"></div>
</div>
