

<style>
    .red {
        background: red !important;
    }

    .yellow {
        background: yellow !important;
    }

    .green {
        background: green !important;
    }
    /*.e-ganttchart .e-gantt-childtaskbar{
            background-color:transparent;
        }
        .e-ganttchart .e-gantt-childtaskbar, .e-ganttchart .e-gantt-parenttaskbar-innerdiv{
            border-style:none;
        }*/
    .e-gantt-template-progressbar {
        background: red !important;
        opacity: 1 !important;
    }

    .e-gantt-template-taskbar.schedule {
        background-color: #f0f0f0;
        color: #000;
    }

    .e-gantt-template-taskbar.takeoff {
        background-color: #00bfff;
        color: #fff;
    }

    .e-gantt-template-taskbar.landing {
        background-color: #3cb371;
        color: #fff;
    }

    .e-gantt-template-taskbar.cancel {
        background-color: #a65959;
        color: #fff;
    }

    .e-gantt-template-taskbar.delay {
        background-color: #ff0000;
        color: #fff;
    }

    .e-gantt-template-taskbar.inactive {
        background-color: #ffff00;
        color: #fff;
    }

    .e-gantt-template-taskbar.diverted {
        background-color: #ee82ee;
        color: #fff;
    }

    .e-gantt-template-taskbar.ground {
        background-color: #ff8000;
        color: #fff;
    }

    .e-gantt-template-taskbar.nodata {
        background-color: #787878;
        color: #fff;
    }

    .lbl_from, .lbl_to {
        font-size: 10px;
    }

    .dx-item.dx-scheduler-appointment.dx-scheduler-appointment-horizontal {
        height: 40px !important;
        background: white !important;
        margin: -3px 1px 0 1px;
    }

        .dx-item.dx-scheduler-appointment.dx-scheduler-appointment-horizontal.dx-state-focused {
            height: 40px !important;
            background: white !important;
            margin: -3px 1px 0 1px;
            border: none !important;
        }

    .dx-scheduler-work-space.dx-scheduler-work-space-month .dx-scheduler-date-table-cell {
        height: 67px !important;
    }

    .dx-scheduler-appointment.dx-state-focused:before {
        background-color: white !important;
    }

    .dx-scheduler-timeline .dx-scheduler-appointment.dx-state-focused:before,
    .dx-scheduler-work-space-month .dx-scheduler-appointment.dx-state-focused:before,
    .dx-scheduler-all-day-appointment.dx-state-focused:before {
        background-color: white !important;
    }

    #dg_flight_total .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_flight_total .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_flight_total .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_flight_total .dx-icon.dx-icon-export-excel-button {
        color: white;
    }




    #dg_regroute .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_regroute .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_regroute .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_regroute .dx-icon.dx-icon-export-excel-button {
        color: white;
    }




    #dg_total .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_total .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_total .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_total .dx-icon.dx-icon-export-excel-button {
        color: white;
    }




    #dg_reg .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_reg .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_reg .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_reg .dx-icon.dx-icon-export-excel-button {
        color: white;
    }





    #dg_route .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_route .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_route .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_route .dx-icon.dx-icon-export-excel-button {
        color: white;
    }





    .dx-tab {
        background-color: lightgray !important;
    }
</style>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="box finmonthreport" style="height:100%;display:none;overflow-y:hidden">


    <div ng-include="'app/views/header.html'" class="rowx header"></div>
    <div ng-include="'app/views/menu.html'"></div>
    <div class="rowx content" style="clear:both">
        <!--<div class=" col-lg-2 col-md-12 col-sm-12 col-xs-12 col1" style="padding-right:2px;padding-left:2px;  ">
            <div class="filter-container box  ">
                <div class="filter-container box  dx-border" style="background:#fff; ">
                    <div style="background:gray;color:white;padding:8px;">Filter</div>
                    <div dx-scroll-view="scroll_1">
                        <div style="padding:5px;border-bottom:1px solid #ccc;padding-top:10px;background:#eee">Date</div>
                        <div class="col-lg-6" style="padding:5px;"> <div class="center" dx-date-box="date_from"></div></div>
                        <div class="col-lg-6" style="padding:5px;"><div class="center" dx-date-box="date_to"></div></div>
                        <div style="clear:both"></div>
                        <div style="padding:5px;border-bottom:1px solid #ccc;padding-top:10px;background:#eee">Route</div>
                        <div style="padding:5px;"> <div dx-tag-box="tag_route"></div></div>


                        <div style="padding:5px;border-bottom:1px solid #ccc;padding-top:10px;background:#eee">Register</div>
                        <div style="padding:5px;"> <div dx-tag-box="tag_reg"></div></div>



                    </div>



                </div>


            </div>


        </div>-->




        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 col1" style="padding-right:2px;padding-left:2px;  ">
            <div class="filter-container box  ">
                <div class="filter-container box  ">
                    <div dx-tabs="tabs_options"></div>
                    <div id="total" class="tabc">
                        <div dx-data-grid="dg_total" id="dg_total" class="content" style="overflow-y:hidden"></div>
                    </div>
                    <div id="route" class="tabc">
                        <div dx-data-grid="dg_route" id="dg_route" class="content" style="overflow-y:hidden"></div>
                    </div>
                    <div id="register" class="tabc">
                        <div dx-data-grid="dg_reg" id="dg_reg" class="content" style="overflow-y:hidden"></div>
                    </div>
                    <div id="route_register" class="tabc">
                        <div dx-data-grid="dg_regroute" id="dg_regroute" class="content" style="overflow-y:hidden"></div>
                    </div>
                   


                </div>


            </div>


        </div>



    </div>


    <div class="rowx footer">
        <div class=" col-lg-8 col-md-11 col-sm-11 col-xs-11" style="padding:0;">
            <table style="width:100%;margin:0;padding:0;">
                <tr>

                    <!--<td style="width:150px;text-align:right;padding-right:5px" class="dx-border"><div class="center" dx-date-box="date_from"></div></td>
    <td style="width:150px;text-align:right;padding-right:5px" class="dx-border"><div class="center" dx-date-box="date_to"></div></td>-->
                    <!--<td style="width:150px;text-align:right;padding-right:5px" class="dx-border"><div class="center" dx-select-box="sb_Status"></div></td>
    <td style="width:150px;text-align:right;padding-right:5px" class="dx-border"><div class="center" dx-select-box="sb_IP"></div></td>
    <td style="width:150px;text-align:right;padding-right:5px" class="dx-border"><div class="center" dx-select-box="sb_CPT"></div></td>-->
                    <td style="width:150px;text-align:right;padding-right:5px" class="dx-border"><div class="center" dx-select-box="sb_yf" dx-validator="{validationGroup:'finmrpt',  validationRules: [{ type: 'required'}]}"></div></td>
                    <td style="width:150px;text-align:right;padding-right:5px" class="dx-border"><div class="center" dx-select-box="sb_yt" dx-validator="{validationGroup:'finmrpt',  validationRules: [{ type: 'required'}]}"></div></td>

                    <td style="width:130px;text-align:left;padding-right:5px"><div dx-button="btn_search"></div></td>

                    <td></td>


                </tr>
            </table>


        </div>


        <div style="clear:both"></div>
    </div>




    <div dx-load-panel="loadPanel"></div>




</div>
