
<style>
    .dx-tab {
        padding: 7px !important;
        background-color: #898e8c;
        color: rgba(255,255,255,0.5);
    }

        .dx-tab.dx-tab-selected {
            color: white;
        }

        .dx-tab.dx-state-hover {
            background-color: #ededed;
            color: gray;
        }

    .dx-item.dx-scheduler-appointment.dx-scheduler-appointment-horizontal {
        height: 25px !important;
        background: white !important;
        margin: -3px 1px 0 1px;
    }

        .dx-item.dx-scheduler-appointment.dx-scheduler-appointment-horizontal.dx-state-focused {
            height: 40px !important;
            background: white !important;
            margin: -3px 1px 0 1px;
            border: none !important;
        }

    .dx-scheduler-work-space.dx-scheduler-work-space-month .dx-scheduler-date-table-cell {
        height: 67px !important;
    }

    .dx-scheduler-appointment.dx-state-focused:before {
        background-color: white !important;
    }

    .dx-scheduler-timeline .dx-scheduler-appointment.dx-state-focused:before,
    .dx-scheduler-work-space-month .dx-scheduler-appointment.dx-state-focused:before,
    .dx-scheduler-all-day-appointment.dx-state-focused:before {
        background-color: white !important;
    }

    .dx-scheduler-navigator {
        min-width: 200px !important;
    }

    .dx-scheduler-view-switcher {
        display: none !important;
    }

    .dx-scheduler-view-switcher-label {
        display: none !important
    }
</style>



<div class="box flightplanlist" style="height:100%;display:none;overflow-y:hidden">


    <div ng-include="'app/views/header.html'" class="rowx header"></div>
    <div ng-include="'app/views/menu.html'"></div>
    <div class="rowx content" style="clear:both">
        <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-3 col2 filter" style="display:none">
            <div class="filter-container box">
                <div class="header">Filter</div>
                <div class="content">
                    <div ng-include="'app/views/filter.html'" ng-init="type = 'flightplanview';" style="flex: 1 1 auto;display: flex;  width:100%;"></div>
                </div>

            </div>

        </div>

        <div class=" col-lg-6 col-md-9 col-sm-9 col-xs-9 col1" style="padding-right:2px;padding-left:2px;  ">
            <div class="filter-container box  ">
                <div dx-data-grid="dg" id="dg" class="content" style="overflow-y:hidden"></div>


            </div>

        </div>
        <div class=" col-lg-6 col-md-9 col-sm-9 col-xs-9 col1" style="padding-right:2px;padding-left:2px;  ">
            <div class="filter-container box  ">
                <div class="filter-container box  ">
                    <div dx-tabs="tabs_options">

                    </div>

                    <div class="content " ng-show="IsDetailsVisible">
                        <div class="tab legs ">
                            <div dx-data-grid="dg_leg" id="dg_leg" class="content" style="overflow-y:hidden"></div>
                        </div>
                        <!-- <div dx-data-grid="dg_reg" id="dg_reg" class="content" style="overflow-y:hidden"></div>-->
                        <div class="tab information dx-border">
                            <div id="scrollview" dx-scroll-view="scroll_info">
                                <!--<div class="col-lg-12 col-md-3 col-sm-12 col-12  margin-bottom-5 padding-7">
                <label>Title</label>
                <div dx-text-box="{readOnly:true,}"  ></div>
            </div>-->
                                <div class="col-lg-4 margin-bottom-5 padding-7">
                                    <label>From</label>
                                    <div class="center" dx-date-box="date_from"></div>
                                </div>
                                <div class="col-lg-4  margin-bottom-5 padding-7">
                                    <label>To</label>
                                    <div class="center" dx-date-box="date_to"></div>
                                </div>
                                <div class="col-lg-4 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
                                    <label>Interval</label>
                                    <div dx-text-box="text_interval"></div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
                                    <label>Month(s)</label>
                                    <div dx-text-box="text_month"></div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
                                    <label>Day(s)</label>
                                    <div dx-text-box="text_day"></div>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
                                    <label>Type(s)</label>
                                    <div dx-text-box="text_type"></div>
                                </div>

                            </div>
                        </div>

                        <div class="tab calendar dx-border">
                            <div id="scrollview" dx-scroll-view="scroll_calendar">
                                <div dx-scheduler="schedulerOptions">
                                    <div data-options="dxTemplate:{name:'dataCellTemplate'}" style="height:20px">

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab registers ">
                            <div dx-data-grid="dg_reg" id="dg_reg" class="content" style="overflow-y:hidden"></div>
                        </div>



                    </div>


                </div>


            </div>


        </div>
         




    </div>


    <div class="rowx footer">
        <div class=" col-lg-9 col-md-11 col-sm-11 col-xs-11" style="padding:0;">
            <div dx-button="btn_search"></div>
            <div dx-button="btn_edit"></div>

            <!-- <div dx-button="btn_view"></div>-->
            <!--<div dx-button="btn_approve"></div>-->






        </div>
        <!--<div class=" col-lg-1 col-md-1 col-sm-1 col-xs-1" style="padding:0;text-align:right">

        </div>
        <div class=" col-lg-1 col-md-1 col-sm-1 col-xs-1" style="padding:0;text-align:right">

        </div>-->
        <div class=" col-lg-3 col-md-1 col-sm-1 col-xs-1" style="padding:0;text-align:right">

        </div>
        <div style="clear:both"></div>
    </div>







    <div dx-load-panel="loadPanel"></div>



</div>
