<style>
    .task-route {
        background: rgba(250,250,250,1);
    }
    /*[class$="gridrowIndexlevel0"], [class*='gridrowIndexlevel0 '] {
        display: none !important;
    }*/
    .summarybox {
        /*min-width: 140px !important;*/
        padding-right: 3px;
    }

        .summarybox .caption {
            font-size: 11px !important;
            margin-bottom: 0 !important;
        }

        .summarybox .td-icon {
            width: 30% !important;
            padding: 0 5px 0 5px !important;
        }

    .home-box {
        padding: 4px !important;
        min-height: 60px !important;
    }

    .dx-datagrid .dx-row.dx-header-row > td {
        padding: 8px !important;
    }

    .dx-datagrid .dx-row > td {
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .dx-datagrid .dx-row.dx-header-row > td .dx-datagrid-text-content {
        font-size: 12px !important;
    }

    .dx-border .dx-texteditor-input {
        padding: 5px !important;
    }

    .dx-toast-custom {
        background: #ffd480;
        color: black;
    }

    .e-headercelldiv span {
        display: none;
    }

    .summarybox i {
        position: relative;
        top: 2px;
    }

    .summarybox span {
        display: inline-block;
        margin-left: 2px;
    }

    .dx-checkbox-text {
        font-size: 12px !important;
    }

    .tab {
        display: none;
    }

    .dx-popup-title.dx-toolbar {
        /*background:red !important;*/
    }

    .red {
        background: red !important;
    }

    .yellow {
        background: yellow !important;
    }

    .green {
        background: green !important;
    }
    /*.e-ganttchart .e-gantt-childtaskbar{
            background-color:transparent;
        }
        .e-ganttchart .e-gantt-childtaskbar, .e-ganttchart .e-gantt-parenttaskbar-innerdiv{
            border-style:none;
        }*/
    .e-gantt-template-progressbar {
        background: #f44336;
        opacity: 1 !important;
    }



    .lbl_from, .lbl_to {
        font-size: 10px;
    }

    .e-gantt-parenttaskbar-innerdiv.e-chartexpand.e-parentTask {
        display: none;
    }

    .e-gantt-taskbarSelection .e-gantt-childtaskbar {
        border: 2px solid #ff3399;
    }
    /*************/
    #ganttviewerheaderContainerejGanttChartresourceGanttba {
    }

    .e-ganttviewerheaderContainer {
        height: 53px !important;
    }

    .e-treegrid .e-headercell {
        height: 53px !important;
    }

    .e-ganttchart .e-schedule-day-headercell {
        height: 30px !important;
    }

    .tabsdate.dx-tabs {
        /*text-align: left;*/
        background: #e6e6e6;
    }

    .tabsdate .dx-tab {
        background: #e6e6e6;
        max-width: 200px;
        min-width: 150px;
        display: inline-block;
        text-align: center;
    }

        .tabsdate .dx-tab.dx-tab-selected {
            color: black;
            background: #ffdab3 !important;
        }

    .e-ganttviewerbodyContianer.e-scroller.e-js.e-widget {
        background: rgb(250, 250, 250);
    }

    .e-gridcontent.e-scroller.e-js.e-widget.e-borderbox {
        background: #fce9e9;
    }

    .e-treegrid .e-alt-row {
        background: #fce9e9;
    }

    .e-gridcontent.e-scroller.e-js.e-widget.e-borderbox {
        border-bottom: none;
    }

    .e-ganttchart .e-ganttviewerheaderContainer {
        background: #fce9e9;
    }

    .e-container-spreadsheet {
        height: 100%;
        width: 100%;
    }

    .e-rg-rangdiv {
        opacity: 0 !important
    }

    .e-gantt-template-progressbar {
        top: 12px !important;
        height: 15px !important;
    }

    .e-gantt-taskbarSelection .e-gantt-template-progressbar {
        top: 13px !important;
        height: 15px !important;
    }

    .e-gantt-template-taskbar.linked-flight, .linked-flight {
        display: none;
    }

    .datepicker-plot-area {
        box-sizing: border-box;
        overflow: hidden;
        min-height: 70px;
        display: block;
        width: 300px !important;
        min-width: 200px;
        padding: 10px !important;
        position: absolute;
        font: 12px tahoma;
        border: 1px solid #ccc;
        background-color: #fff;
    }

        .datepicker-plot-area .datepicker-day-view .table-days td span {
            display: block;
            width: 100%;
            height: 30px !important;
            line-height: 30px !important;
            padding: 0;
            margin: 0px;
        }

    #resourceGanttba .e-cell {
        font-size: 14px;
    }

    @media screen and (max-width: 640px) {
        #resourceGanttba .e-cell {
            font-size: 11px;
        }

        #resourceGanttba .treegridrows .e-dragintend {
        }
    }

    .large-tile {
        display: none;
        height: 65px;
        overflow-x: scroll;
        overflow-y: hidden;
        width: 100%;
    }

    .small-tile {
        /*display: none;*/
        display: inline-flex;
        width: 100%;
        overflow-x: auto;
        overflow-y: hidden;
        height: 60px;
    }

        /*@media screen and (min-height: 640px) {
        .small-tile{display:inline-flex;width:100%;}

    }
    @media screen and (min-height: 768px) {
        .small-tile {
            display: none;
        }
        .large-tile {
            display: inline-flex;
        }
    }*/
        .small-tile .summarybox {
            min-width: 115px;
            display: inline-block
        }

    .large-tile .summarybox {
        min-width: 115px;
        display: inline-block
    }

    .small-tile .home-box {
        min-height: 50px !important
    }

    .small-tile .libcount span {
        font-size: 15px !important
    }

    .log-mobile .dx-icon {
        font-size: 16px;
    }

     /***********************/
    .gantt-main-container {
        /*display: flex;*/
        /*height: calc(100% - 300px);*/
        height:50px;
    }

    .col-fleet {
        width: 50px;
        display: inline-block;
        float: left;
        height: 100%;
    }

    .col-flights {
       
        display: inline-block;
        width: calc(100% - 50px);
        float: left;
        height: 100%;
        /*flex-grow: 1;*/
    }

    .header-date {
        border-bottom: 1px solid #ccc;
    }

    .header-time {
        border-bottom: 1px solid #ccc;
    }

    .regs {
        background-color: #fce9e9;
    }

    .flights {
        background-color: #eee;
    }

    .cell-hour {
        border-right: 1px solid #ccc;
        position: relative;
        text-align: center;
        line-height: 25px;
        font-size: 12px;
        font-weight: bold;
    }

    .cell-day {
        border-right: 1px solid #ccc;
        position: relative;
        text-align: center;
        line-height: 23px;
        font-size: 12px;
        font-weight: bold;
    }

    .second-time {
        font-size: 9px;
        position: absolute;
        top: -7px;
        left: 2px;
        font-weight: normal;
    }

    .mid-line {
        position: absolute;
        border-left: 1px solid gray;
        height: 100px;
        display: inline-block;
        width: 1px;
    }

    .now-line {
        position: absolute;
        border-left: 2px solid orange;
        height: 100px;
        display: inline-block;
        width: 1px;
    }

    .hour-line {
        position: absolute;
        border-left: 1px dotted #ccc;
        height: 100px;
        display: inline-block;
        width: 1px;
    }
</style>






<div class="box gnt" style="height:100%;display:none;overflow-y:hidden">
    <div ng-include="'app/views/header.html'" class="rowx header" ng-show="footerfilter"></div>
    <div ng-include="'app/views/menu.html'" ng-show="footerfilter"></div>
    <div class="rowx content" style="clear:both">
        <div class="gantt-main-container  " style="width:100%; background:#eee;border :1px solid #ccc;border-top:1px solid #ccc">


            <div class="col-fleet" style=" display: flex;  flex-direction: column; ">
                <div style="border-bottom:1px solid #ccc;border-right:1px solid #ccc" class="row-top-mirror">

                </div>
                <div class="regs thin-scroll" style=" overflow-y:hidden; flex:0.95;border-right:1px solid #ccc;  ">
                    <div class="reg-box">
                        <div style="text-align:left;padding:0px 0 0 10px;font-size:12px;  border-bottom:0px solid #ccc; height:20px">

                        </div>
                        <div class="reg-row" ng-repeat="res in ganttData.resources" style="text-align:left;padding:0px 0 0 10px;font-size:12px;  border-bottom:1px solid #ccc" ng-style="getResStyle(res)">
                            <div style="font-size:11px;font-weight:bold" ng-style="getResCaptionStyle(res)">{{res.resourceName.split('-')[1]}}</div>
                        </div>
                        <idv style="clear:both"></idv>
                    </div>
                </div>
            </div>
            <div class="col-flights  " style=" overflow-x:auto ;display: flex;  flex-direction: column;">
                <div style="background-color:#fce9e9; " class="row-top timeline">
                    <div class="header-date"></div>
                    <div class="header-time">

                    </div>
                </div>
                <div class="flights thin-scroll" style="overflow-y:auto; flex:0.999 ;position:relative;overflow-x:hidden ">
                    <div class="flights-box" style="background-color:#eee;     ">
                        <div style="text-align:left;padding:0px 0 0 10px;font-size:12px; border-bottom:0px solid #ccc;position:relative; height:20px;">

                        </div>
                        <div ng-repeat="res in ganttData.resources" style="text-align:left;padding:0px 0 0 10px;font-size:12px; border-bottom:1px solid #ccc;position:relative;min-height:50px;" ng-style="getResStyle(res)">
                            <div style="display:inline-block; text-align:center;position:absolute;" ng-repeat="f in res.flights" ng-init="finished()" ng-style="getFlightStyle(f,$index,res)" ng-click="selectFlight(f)">
                                <div style="font-weight:bold;font-size:11px;">{{f.FromAirportIATA}}-{{f.ToAirportIATA}}</div>
                                <div style="font-weight:bold;font-size:12px;border:1px solid #ccc;position:relative;height:18px" ng-class="getFlightClass(f)">
                                    <span style="display:inline-block;font-size:12px;font-weight:bold !important;z-index:1000;height:99.9%;top:0;left:0;width:100%;position:absolute">{{f.FlightNumber}}</span>
                                    <span style="display:inline-block;position:absolute;top:0;left:0; height:99.9%;background:#ff5c33;text-align:left;font-size:10px;color:white;" ng-style="getDelayStyle(f)">{{getDelayText(f)}}</span>
                                </div>
                                <div style="font-weight:bold;font-size:11px;">{{getDep(f)}} {{getArr(f)}}</div>
                            </div>

                        </div>
                    </div>
                </div>


            </div>



        </div>
        <div style="clear:both"></div>

    </div>
    <div ng-show="footerfilter" style="margin-top:0px;background:white;border-top:0px solid #ddd;padding:0 0 0px 2px">

        <div class="small-tile thin-scroll2">
            <div class="   padding-0 center summarybox">

                <div class="home-box " style="padding:8px;">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td style="width:40%;padding:0 10px 0 0;text-align:center" class="td-icon">

                                    <i class="fa fa-plane" style="font-size:23px"></i>
                                </td>
                                <td>
                                    <div style="margin-bottom:5px;text-align:center" class="caption">Total</div>
                                    <div class="libcount" style="text-align:center">
                                        <span style="font-size:18px;font-weight:bold">{{boardSummary.TotalFlight}}</span>

                                        <div style="clear:both"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>

            <div class="padding-0 center summarybox">

                <div class="home-box " style="padding:8px;">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td style="width:40%;padding:0 10px 0 0;text-align:center" class="td-icon">

                                    <i class="fas fa-plane-departure" style="font-size:23px;color:#00cc99 !important"></i>
                                </td>
                                <td>
                                    <div style="margin-bottom:5px;text-align:center" class="caption">Departed</div>
                                    <div class="libcount" style="text-align:center">
                                        <span style="font-size:18px;font-weight:bold">{{boardSummary.Departed}}</span>

                                        <div style="clear:both"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="padding-0 center summarybox">

                <div class="home-box " style="padding:8px;">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td style="width:40%;padding:0 10px 0 0;text-align:center" class="td-icon">

                                    <i class="fas fa-plane-arrival" style="font-size:23px;color:#3399ff !important"></i>
                                </td>
                                <td>
                                    <div style="margin-bottom:5px;text-align:center" class="caption">Arrived</div>
                                    <div class="libcount" style="text-align:center">
                                        <span style="font-size:18px;font-weight:bold">{{boardSummary.Arrived}}</span>

                                        <div style="clear:both"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>


            <div class="padding-0 center summarybox">

                <div class="home-box " style="padding:8px;">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td style="width:40%;padding:0 10px 0 0;text-align:center" class="td-icon">

                                    <i class="fas fa-times-circle" style="font-size:23px;color:#e60000 !important"></i>
                                </td>
                                <td>
                                    <div style="margin-bottom:5px;text-align:center" class="caption">Cancled</div>
                                    <div class="libcount" style="text-align:center">
                                        <span style="font-size:18px;font-weight:bold">{{boardSummary.Canceled}}</span>

                                        <div style="clear:both"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>




            <div class="padding-0 center summarybox">

                <div class="home-box " style="padding:8px;">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td style="width:40%;padding:0 10px 0 0;text-align:center" class="td-icon">

                                    <i class="fas fa-random" style="font-size:23px;color:#ff6600 !important"></i>
                                </td>
                                <td>
                                    <div style="margin-bottom:5px;text-align:center" class="caption">Diverted</div>
                                    <div class="libcount" style="text-align:center">
                                        <span style="font-size:18px;font-weight:bold">{{boardSummary.Diverted}}</span>

                                        <div style="clear:both"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="padding-0 center summarybox">

                <div class="home-box " style="padding:8px;">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td style="width:40%;padding:0 10px 0 0;text-align:center" class="td-icon">

                                    <i class="fas fa-stopwatch" style="font-size:23px;color:#ff00ff !important"></i>
                                </td>
                                <td>
                                    <div style="margin-bottom:5px;text-align:center" class="caption">B/L</div>
                                    <div class="libcount" style="text-align:center">
                                        <span style="font-size:18px;font-weight:bold">{{boardSummary.BlockTimeStr}}</span>

                                        <div style="clear:both"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div class="padding-0 center summarybox">

                <div class="home-box " style="padding:8px;">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td style="width:40%;padding:0 10px 0 0;text-align:center" class="td-icon">

                                    <i class="fas fa-hourglass-half" style="font-size:23px;color:#cc0000 !important"></i>
                                </td>
                                <td>
                                    <div style="margin-bottom:5px;text-align:center" class="caption">Delay</div>
                                    <div class="libcount" style="text-align:center">
                                        <span style="font-size:18px;font-weight:bold">{{boardSummary.DelayStr}}</span>

                                        <div style="clear:both"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>
            <div class="padding-0 center summarybox">

                <div class="home-box " style="padding:8px;">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td style="width:40%;padding:0 10px 0 0;text-align:center" class="td-icon">

                                    <i class="fas fa-chart-pie" style="font-size:23px;color:#cc0000 !important"></i>
                                </td>
                                <td>
                                    <div style="margin-bottom:5px;text-align:center" class="caption">D/L RT</div>
                                    <div class="libcount" style="text-align:center">
                                        <span style="font-size:18px;font-weight:bold">{{boardSummary.DelayRatio}}%</span>

                                        <div style="clear:both"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="padding-0 center summarybox">

                <div class="home-box " style="padding:8px;">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td style="width:40%;padding:0 10px 0 0;text-align:center" class="td-icon">

                                    <i class="fas fa-weight" style="font-size:23px;color:#993333 !important"></i>
                                </td>
                                <td>
                                    <div style="margin-bottom:5px;text-align:center" class="caption">Bag/Pax</div>
                                    <div class="libcount" style="text-align:center">
                                        <span style="font-size:18px;font-weight:bold">{{boardSummary.CargoPerPax}}</span>

                                        <div style="clear:both"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="padding-0 center summarybox">

                <div class="home-box " style="padding:8px;">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td style="width:40%;padding:0 10px 0 0;text-align:center" class="td-icon">

                                    <i class="fas fa-gas-pump" style="font-size:23px;color:#e6b800 !important"></i>
                                </td>
                                <td>
                                    <div style="margin-bottom:5px;text-align:center" class="caption">Fuel(ton)</div>
                                    <div class="libcount" style="text-align:center">
                                        <span style="font-size:18px;font-weight:bold">{{boardSummary.FuelActual}}</span>

                                        <div style="clear:both"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="padding-0 center summarybox">

                <div class="home-box " style="padding:8px;">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td style="width:40%;padding:0 10px 0 0;text-align:center" class="td-icon">

                                    <i class="fas fa-user-friends" style="font-size:23px;color:#0099cc !important"></i>
                                </td>
                                <td>
                                    <div style="margin-bottom:5px;text-align:center" class="caption">Pax</div>
                                    <div class="libcount" style="text-align:center">
                                        <span style="font-size:18px;font-weight:bold">{{boardSummary.Pax}}</span>

                                        <div style="clear:both"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>

            <div class="padding-0 center summarybox">

                <div class="home-box " style="padding:8px;">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td style="width:40%;padding:0 10px 0 0;text-align:center" class="td-icon">

                                    <i class="fas fa-chart-pie" style="font-size:23px;color:#0077b3 !important"></i>
                                </td>
                                <td>
                                    <div style="margin-bottom:5px;text-align:center" class="caption">Pax Load</div>
                                    <div class="libcount" style="text-align:center">
                                        <span style="font-size:18px;font-weight:bold">{{boardSummary.PaxLoad}}%</span>

                                        <div style="clear:both"></div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

            </div>




        </div>


    </div>
    <div dx-tabs="tabs_date_options">

    </div>





    <!--<div id="btn" style="border:1px solid gray;padding:10px;margin-top:20px" ng-click="test()">Click</div>-->

    <div class="rowx footer" ng-show="footerfilter">
        <div class="col-lg-12    " style="padding:0;text-align:right">
            <table>
                <tr>


                    <td style="width:130px;text-align:right;padding-right:5px" class="dx-border"><div class="center" dx-date-box="date_from" dx-validator="{validationGroup:'flightboarddate',  validationRules: [{ type: 'required'}]}"></div></td>
                    <td style="width:70px;text-align:right;padding-right:5px" class="dx-border">
                        <!--<div class="center " dx-number-box="num_days" dx-validator="{validationGroup:'flightboarddate',  validationRules: [{ type: 'required'}]}"></div>-->
                        <div class="center " dx-select-box="sb_days" dx-validator="{validationGroup:'flightboarddate',  validationRules: [{ type: 'required'}]}"></div>
                    </td>
                    <!--<td style="width:40px; text-align:left;padding-right:5px"><div dx-button="btn_persiandate"></div></td>-->

                    <td style="width:40px;text-align:left;padding-right:5px"><div dx-button="btn_search_mobile"></div></td>




                    <td style="width:40px;padding-left:5px" class="log-mobile"><div dx-button="btn_log_mobile"></div> </td>



                </tr>
            </table>

        </div>


        <div style="clear:both"></div>
    </div>



    <div id="popup_xlog" dx-popup="popup_xlog">
        <div class="padding-0">

            <div dx-scroll-view="scroll_1" style="padding:0px 0px 0 0;">
                <div style="padding:0px 5px 0 0;">
                    <div style="border:1px solid #ccc;color:gray;padding:0; font-size:13px;">
                        <div class="col-lg-4 col-md-3 col-sm-3 col-xs-3 font-inherit" style="font-size:12px;text-align:center;font-weight:normal;border-right:1px solid #eee;line-height:31px;padding-left:0;padding-right:0;background:#647687;color:white;padding-top:1px">
                            <span style="display:inline-block;font-weight:bold;font-size:12px;margin-right:2px;">  {{flight.FlightNumber}}</span>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-6 col-xs-6 font-inherit" style="font-size:13px;text-align:center;font-weight:bold;border-left:0px solid #eee;border-right:1px solid #eee;line-height:30px">
                            <span style="display:inline-block;font-weight:bold;font-size:12px;margin-right:2px;">  {{flight.FromAirportIATA}}</span>-<span style="display:inline-block;margin-left:2px;font-size:12px;font-weight:bold">{{flight.FlightStatusID!=17? flight.ToAirportIATA:flight.OToAirportIATA}}</span>
                        </div>
                        <div class="col-lg-4 col-md-3 col-sm-3 col-xs-3 font-inherit" style=" font-size:12px;text-align:center;font-weight:normal; padding:7px;  padding-top:8px">
                            <span style="display:inline-block;font-weight:bold;font-size:12px;">  {{flight.Register}}</span>

                        </div>



                        <div style="clear:both"></div>
                    </div>


                    <div dx-select-box="sb_timebase" class="dx-border" style="margin-top:5px;"></div>
                    <div style="border:0px solid #ccc;color:gray;padding:0px;font-size:13px;margin-top:5px;">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-inherit center padding-0" style="padding-right:2px">
                            <div style="border:1px solid #ccc;padding-bottom:3px">
                                <div style="padding:6px;background:rgb(238, 238, 238);color:#000;border-bottom:1px solid #ccc">
                                    <div style="display:inline-block;font-size:12px;">STD</div>   <div style=" color:gray;display:inline-block;font-size:12px;">({{moment(flight.STD2)}})</div>

                                </div>


                                <div style="margin-top:3px;color:gray;font-size:16px">{{momenttime(flight.STD2)}}</div>

                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 font-inherit center padding-0" style="padding-left:2px">
                            <div style="border:1px solid #ccc;padding-bottom:3px">
                                <div style="padding:6px;background:rgb(238, 238, 238);color:#000;border-bottom:1px solid #ccc">
                                    <div style="display:inline-block;font-size:12px;">STA</div>   <div style=" color:gray;display:inline-block;font-size:12px;">({{moment(flight.STA2)}})</div>

                                </div>


                                <div style="margin-top:3px;color:gray;font-size:16px">{{momenttime(flight.STA2)}}</div>

                            </div>

                        </div>
                        <div style="clear:both"></div>
                    </div>

                    <div style="border:1px solid #ccc;color:gray;padding:0px;font-size:13px;margin-top:5px;min-height:105px" ng-show="FromWeatherVisible">
                        <div style="font-size:13px;padding:6px;background:#99bbff;color:#000;border-bottom:1px solid #ccc">
                            Status
                        </div>
                        <div class="font-inherit padding-7" style="padding-bottom:0;padding:3px 3px 3px 3px">
                            <div class="font-inherit padding-7" style="padding-bottom:0;padding:5px 5px 0 5px">
                                <div dx-select-box="sb_status" class="dx-border" style="margin-top:0px;"></div>

                            </div>
                            <div class="col-lg-6 col-md-8 col-sm-8 col-xs-8 font-inherit padding-7 dx-border" style="padding-bottom:0;padding:5px 5px 0 5px" ng-show="isTimeStatusVisible">

                                <div class="center" dx-date-box="time_status"></div>
                            </div>
                            <div style="clear:both"></div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xsm-3  padding-7 dx-border" style="padding:3px 3px 0 3px; ">
                                <label>Off Block</label>
                                <div class="center" dx-date-box="time_offblock2" dx-validator="{validationGroup:'fbacflight',  validationRules: [{ type: 'required'}]}"></div>

                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xsm-3 col-12   padding-7 dx-border" style="padding-bottom:0;padding:3px 3px 3px 3px;padding-left:2px; ">
                                <label>&nbsp; </label>
                                <div class="center" dx-date-box="time_offblock2_hh" dx-validator="{validationGroup:'fbacflight',  validationRules: [{ type: 'required'}]}"></div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xsm-3  padding-7 dx-border" style="padding:3px 3px 0 3px; ">
                                <label>Take Off</label>
                                <div class="center" dx-date-box="time_takeoff2"></div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xsm-3 col-12   padding-7 dx-border" style="padding-bottom:0;padding:3px 3px 3px 3px;padding-left:2px; ">
                                <label>&nbsp; </label>
                                <div class="center" dx-date-box="time_takeoff2_hh" dx-validator="{validationGroup:'fbacflight',  validationRules: [{ type: 'required'}]}"></div>
                            </div>
                            <div style="clear:both"></div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xsm-3 padding-7 dx-border" style="padding:3px 3px 0 3px; ">
                                <label>Landing</label>
                                <div class="center" dx-date-box="time_landing2" dx-validator="{validationGroup:'fbacarr',  validationRules: [{ type: 'required'}]}"></div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xsm-3 col-12   padding-7 dx-border" style="padding-bottom:0;padding:3px 3px 3px 3px;padding-left:2px; ">
                                <label>&nbsp; </label>
                                <div class="center" dx-date-box="time_landing2_hh" dx-validator="{validationGroup:'fbacflight',  validationRules: [{ type: 'required'}]}"></div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xsm-3  padding-7 dx-border" style="padding:3px 3px 0 3px; ">
                                <label>On Block</label>
                                <div class="center" dx-date-box="time_onblock2"></div>
                            </div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xsm-3 col-12   padding-7 dx-border" style="padding-bottom:0;padding:3px 3px 3px 3px;padding-left:2px; ">
                                <label>&nbsp; </label>
                                <div class="center" dx-date-box="time_onblock2_hh" dx-validator="{validationGroup:'fbacflight',  validationRules: [{ type: 'required'}]}"></div>
                            </div>
                            <div style="clear:both"></div>
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xsm-3  padding-7 dx-border" style="padding:5px 3px 0 3px; ">
                                <label style="display:block">OFP Flight Time</label>
                                <div dx-number-box="num_fphh" style="display:inline-block" class="dx-border"></div>
                                <span style="display:inline-block;margin:0 1px 0 1px;font-size:15px;position:relative;top:-10px">:</span>
                                <div dx-number-box="num_fpmm" style="display:inline-block" class="dx-border"></div>
                            </div>
                            <!--<div class="col-lg-4   padding-7 dx-border" style="padding:5px 3px 0 3px;text-align:center">
                                <label style="display:block"></label>
                                <div dx-button="btn_refresh" ng-show="IsEditable" style="margin-top:9px;"></div>
                            </div>-->
                            <div class="col-lg-3 col-md-3 col-sm-3 col-xsm-3  padding-7 dx-border" style="padding:5px 3px 0 3px; ">
                                <label style="display:block">Total Delay</label>
                                <div dx-number-box="num_totaldelayhh" style="display:inline-block;text-align:center;" class="center dx-border tdelay"></div>
                                <span style="display:inline-block;margin:0 1px 0 1px;font-size:15px;position:relative;top:-15px">:</span>
                                <div dx-number-box="num_totaldelayhhmm" style="display:inline-block;text-align:center" class="center dx-border tdelay"></div>
                            </div>
                        </div>

                        <div style="clear:both"></div>

                    </div>






                </div>
                <div class=" padding-0">



                    <div class="departure">


                        <div class="padding-7" style="padding:0;padding-right:3px;margin-top:10px;">
                            <div dx-data-grid="dg_delay" id="dg_delay" class="content" style="overflow-y:hidden"></div>



                            <div dx-data-grid="dg_crew_abs" id="dg_crew_abs" class="content" style="overflow-y:hidden"></div>


                        </div>





                        <div class=" padding-7 dx-border" style="padding:0; ">


                            <div class="padding-7 dx-border" style="padding:0;margin-top:10px;">
                                <div class="groupbox" style="border-radius:0;padding-bottom:5px;">
                                    <div class="caption" style="border-radius:0;margin-bottom:0">PAX</div>
                                    <div class="col-lg-2 col-md-2 col-sm-3  col-xsm-3  padding-7 dx-border" style="padding:3px 7px 3px 7px;">
                                        <label>Adult</label>
                                        <div dx-number-box="pax_adult" dx-validator="{validationGroup:'fbacflight',  validationRules: [{ type: 'required'}]}"></div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-3  col-xsm-3  padding-7 dx-border" style="padding:3px 7px 3px 7px">
                                        <label>Child</label>
                                        <div dx-number-box="pax_child" dx-validator="{validationGroup:'fbacflight',  validationRules: [{ type: 'required'}]}"></div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-3  col-xsm-3  padding-7 dx-border" style="padding:3px 7px 3px 7px">
                                        <label>Infant</label>
                                        <div dx-number-box="pax_infant" dx-validator="{validationGroup:'fbacflight',  validationRules: [{ type: 'required'}]}"></div>
                                    </div>

                                    <div class="col-lg-2 col-md-2 col-sm-3  col-xsm-3  padding-7 dx-border" style="padding:3px 7px 3px 7px">
                                        <label>Total Seats</label>
                                        <div class="center" dx-number-box="total_seats"></div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-3  col-xsm-3  padding-7 dx-border" style="padding:3px 7px 3px 7px">
                                        <label>Total Pax</label>
                                        <div class="center" dx-number-box="total_pax"></div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-3  col-xsm-3  padding-7 dx-border" style="padding:3px 7px 3px 7px">
                                        <label>Load</label>
                                        <div class="center" dx-text-box="load_pax"></div>
                                    </div>


                                    <div style="clear:both"></div>
                                </div>
                            </div>
                            <div style="clear:both"></div>
                            <div class="padding-7 dx-border" style="padding:0;margin-top:5px">
                                <div class="groupbox" style="border-radius:0;padding-bottom:5px;">
                                    <div class="caption" style="border-radius:0;margin-bottom:0">Cargo / Baggage</div>
                                    <div class="col-lg-2 col-md-2 col-sm-3   col-xsm-3 padding-7 dx-border" style="padding:3px 7px 3px 7px">
                                        <label>Unit</label>
                                        <div dx-select-box="sb_massunit" dx-validator="{validationGroup:'fbacflight',  validationRules: [{ type: 'required'}]}"></div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-3  col-xsm-3  padding-7 dx-border" style="padding:3px 7px 3px 7px">
                                        <label>Bag Pieces</label>
                                        <div class="center" dx-number-box="bag_piece" dx-validator="{validationGroup:'fbacflight',  validationRules: [{ type: 'required'}]}"></div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-3   col-xsm-3 padding-7 dx-border" style="padding:3px 7px 3px 7px">
                                        <label>Bags Weight</label>
                                        <div class="center" dx-number-box="bag_weight" dx-validator="{validationGroup:'fbacflight ',  validationRules: [{ type: 'required'}]}"></div>
                                    </div>

                                    <div class="col-lg-2 col-md-2 col-sm-3  col-xsm-3  padding-7 dx-border" style="padding:2px 7px 2px 7px">
                                        <label>Cargo</label>
                                        <div class="center" dx-number-box="cargo_piece" dx-validator="{validationGroup:'fbacflight',  validationRules: [{ type: 'required'}]}"></div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-3  col-xsm-3 padding-7 dx-border" style="padding:2px 7px 2px 7px">
                                        <label>Cargo Weight</label>
                                        <div class="center" dx-number-box="cargo_weight" dx-validator="{validationGroup:'fbacflight',  validationRules: [{ type: 'required'}]}"></div>
                                    </div>





                                    <div style="clear:both"></div>
                                </div>
                            </div>
                            <div style="clear:both"></div>
                            <div class="col-lg-12   padding-7 dx-border" style="padding:0;margin-top:5px">
                                <div class="groupbox" style="border-radius:0;padding-bottom:5px;">
                                    <div class="caption" style="border-radius:0;margin-bottom:0">Fuel</div>
                                    <div class="col-lg-2 col-md-2 col-sm-3  col-xsm-3  padding-7 dx-border" style="padding:3px 7px 3px 7px">
                                        <label>Fuel Unit</label>
                                        <div dx-select-box="sb_volumeunit" dx-validator="{validationGroup:'fbacflight',  validationRules: [{ type: 'required'}]}"></div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-3  col-xsm-3  padding-7 dx-border" style="padding:3px 7px 3px 7px">
                                        <label>OFP Trip</label>
                                        <div class="center" dx-number-box="fuel_fp" dx-validator="{validationGroup:'fbacflight',  validationRules: [{ type: 'required'}]}"></div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-3  col-xsm-3  padding-7 dx-border" style="padding:3px 7px 3px 7px">
                                        <label>Uplift</label>
                                        <div class="center" dx-number-box="fuel_dep" dx-validator="{validationGroup:'fbacflight',  validationRules: [{ type: 'required'}]}"></div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-3  col-xsm-3  padding-7 dx-border" style="padding:3px 7px 3px 7px">
                                        <label>Taxi</label>
                                        <div class="center" dx-number-box="fuel_defuel" dx-validator="{validationGroup:'fbacflight',  validationRules: [{ type: 'required'}]}"></div>
                                    </div>
                                    <div class="col-lg-2 col-md-2 col-sm-3  col-xsm-3  padding-7 dx-border" style="padding:3px 7px 3px 7px">
                                        <label>Remaining</label>
                                        <div class="center" dx-number-box="fuel_arr" dx-validator="{validationGroup:'fbacarr',  validationRules: [{ type: 'required'}]}"></div>
                                    </div>
                                    <div style="clear:both"></div>
                                </div>

                            </div>
                            <div style="clear:both"></div>
                            <div class="col-lg-12   padding-7 dx-border" style="padding:0;margin-top:5px">
                                <div class="groupbox" style="border-radius:0;padding-bottom:2px;">
                                    <div class="col-lg-6 col-md-6 col-sm-6  col-xsm-6  padding-7 dx-border" style="padding:1px 7px 1px 7px">
                                        <label>Flight Type</label>
                                        <div dx-select-box="sb_flighttype"></div>
                                    </div>
                                    <!--<div class="col-lg-6 col-md-6 col-sm-6  col-xsm-6  padding-7 dx-border" style="padding:1px 7px 2px 7px">
                                        <label>Charterer</label>
                                        <div dx-text-box="txt_charterer"></div>
                                    </div>-->
                                    <div style="clear:both"></div>
                                </div>
                            </div>
                        </div>
                        <div class=" padding-7 dx-border" style="padding:0 3px 0 0; margin-top:10px;">
                            <div class="col-lg-6 col-md-6 col-sm-6  col-xsm-6" style="border:1px solid #ccc;color:gray;padding:0px;font-size:13px; min-height:105px;padding-bottom:5px;" ng-show="FromWeatherVisible">

                                <div style="font-size:13px;padding:6px;background:#e6e600;color:#000;border-bottom:1px solid #ccc">
                                    Diversion
                                </div>
                                <div class="font-inherit padding-7" style="padding-bottom:0;padding:5px 5px 0 5px" ng-show="isRedirectReasonVisible">
                                    <label>Reason</label>
                                    <div dx-select-box="sb_redirect_reason"></div>
                                </div>
                                <div class="font-inherit padding-7 dx-border" style="padding-bottom:0;padding:5px 5px 0 5px" ng-show="isRedirectReasonVisible">
                                    <label>Time</label>
                                    <div class="center" dx-date-box="time_redirect"></div>
                                </div>
                                <div class="font-inherit padding-7" style="padding-bottom:0;padding:5px 5px 0 5px" ng-show="isRedirectReasonVisible">
                                    <label>Alt. Airport</label>
                                    <div dx-select-box="sb_redirect_airport"></div>
                                </div>
                                <div class="font-inherit padding-7" style="padding-bottom:0;padding:5px 5px 0 5px" ng-show="isRedirectReasonVisible">
                                    <label>Remark</label>
                                    <div dx-text-area="remark_redirect" class="dx-border"></div>
                                </div>

                                <div style="clear:both"></div>

                            </div>

                            <div class="col-lg-6 col-md-6 col-sm-6  col-xsm-6" style="border:1px solid #ccc;color:gray;padding:0px;font-size:13px;min-height:105px;padding-bottom:8px;" ng-show="FromWeatherVisible">
                                <div style="font-size:13px;padding:6px;background:#9900cc;color:#fff;border-bottom:1px solid #ccc">
                                    Returning To Ramp
                                </div>
                                <div class="font-inherit padding-7" style="padding-bottom:0;padding:5px 5px 0 5px" ng-show="isRampReasonVisible">
                                    <label>Reason</label>
                                    <div dx-select-box="sb_ramp_reason"></div>
                                </div>
                                <div class="font-inherit padding-7 dx-border" style="padding-bottom:0;padding:5px 5px 0 5px" ng-show="isRampReasonVisible">
                                    <label>Time</label>
                                    <div class="center" dx-date-box="time_ramp"></div>
                                </div>
                                <div class="font-inherit padding-7" style="padding-bottom:0;padding:5px 5px 0 5px" ng-show="isRampReasonVisible">
                                    <label>Remark</label>
                                    <div dx-text-area="remark_ramp" class="dx-border"></div>
                                </div>

                                <div style="clear:both"></div>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                        <div class="dx-border" style="border:1px solid #ccc;color:gray;padding:0px;font-size:13px;margin-top:5px;min-height:170px;padding-bottom:5px" ng-show="ToWeatherVisible">
                            <div id="status_caption" style="font-size:13px;padding:6px;background:rgb(238, 238, 238);color:#000;border-bottom:1px solid #ccc">
                                Remark
                            </div>

                            <div class="font-inherit padding-7" style="padding-bottom:0;padding:5px 5px 0 5px" ng-show="isCancelReasonVisible">
                                <label>Reason</label>
                                <div dx-select-box="sb_cancel_reason"></div>
                            </div>


                            <div class="font-inherit padding-7" style="padding-bottom:0;padding:5px 5px 0 5px">

                                <div dx-text-area="remark_status" class="dx-border" style="margin-top:0px;"></div>

                            </div>

                            <div style="clear:both"></div>

                        </div>
                        <div style="clear:both"></div>



                    </div>

                </div>
            </div>
            <div style="clear:both"></div>
        </div>

        <div class="tab delays">
            <div dx-data-grid="dg" id="dg" class="content" style="overflow-y:hidden"></div>
        </div>
    </div>



    <div dx-load-panel="loadPanel"></div>
</div>
