<div ng-controller="personViewController">
    <div id="popup_add" dx-popup="popup_add" class="no-padding">
        <div dx-tabs="tabs_options">

        </div>
        <div class="tab main dx-border">
            <div id="scrollview" dx-scroll-view="scroll_main">
                <div style="padding-top:5px;">
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3" style="padding:0px 5px 5px  5px;width:20%">
                        <div style="border:1px solid #aaa; border-radius:5px;">

                            <div style="text-align:center;padding-top:2px ;height:185px;line-height: 225px;">
                                <img ng-src="{{img_url}}" style="max-height:202px" />
                            </div>
                            <div id="uploader_image" dx-file-uploader="uploader_image" class="invisibleuploader"></div>
                        </div>

                    </div>
                    <div class="col-lg-10 col-md-9 col-sm-9 col-xs-9" style="padding:0px 10px 5px 5px;width:80%">
                        <div class="groupbox" style="padding-bottom:9px;">
                            <div class="caption">Base</div>
                            <div class="col-lg-2 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                                <label>National Code</label>
                                <div dx-text-box="txt_nid" class="center ltr f16" dx-validator="{validationGroup:'personadd',  validationRules: [{ type: 'required',   }]}"></div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                                <label>First Name</label>
                                <div dx-text-box="txt_FirstName" dx-validator="{validationGroup:'personadd',  validationRules: [{ type: 'required'}]}"></div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                                <label>Last Name</label>
                                <div dx-text-box="txt_LastName" dx-validator="{validationGroup:'personadd',  validationRules: [{ type: 'required'}]}"></div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                                <label>Identity No</label>
                                <div dx-text-box="txt_IDNo" class="center ltr f16"></div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                                <label>Gender</label>
                                <div dx-select-box="sb_Sex" dx-validator="{validationGroup:'personadd',  validationRules: [{ type: 'required'}]}"></div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                                <label>Mobile</label>
                                <div dx-text-box="txt_Mobile" class="center ltr f16" dx-validator="{validationGroup:'personadd',  validationRules: [{ type: 'required',   }]}"></div>
                            </div>
                            <div style="clear:both"></div>

                            <div class="col-lg-2 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                                <label>Birth Date</label>
                                <div dx-date-box="date_DateBirth" class="center"></div>
                            </div>

                            <div class="col-lg-2 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                                <label>Email</label>
                                <div dx-text-box="txt_Email" dx-validator="emailValidationRules"></div>
                            </div>



                            <div class="col-lg-2 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                                <label>Passport No</label>
                                <div dx-text-box="txt_PassportNumber" class="center ltr f16"></div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                                <label>Passport Expire Date</label>
                                <div dx-date-box="date_DatePassportExpire" class="center"></div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                                <label>Language Course Expire</label>
                                <div dx-date-box="date_LanguageCourseExpireDate" class="center"></div>
                            </div>
                            <div style="clear:both"></div>
                            <div class="col-lg-3 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                                <label>City</label>
                                <div dx-select-box="sb_city"></div>
                            </div>
                            <div class="col-lg-5 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                                <label>Address</label>
                                <div dx-text-box="txt_Address"></div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                                <label>Postal Code</label>
                                <div class="center ltr f16" dx-text-box="txt_PostalCode"></div>
                            </div>
                            <div class="col-lg-2 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                                <label>Tel</label>
                                <div dx-text-box="txt_phone" class="center ltr f16"></div>
                            </div>
                            <div style="clear:both"></div>


                        </div>



                    </div>
                    <div style="clear:both"></div>
                    <div class="col-lg-2" style="padding:0;width:38%">
                        <div style="margin:2px 5px 0  5px;padding-bottom:7px" class="groupbox">
                            <div class="caption">Flight Crew Licence</div>
                            <div class="col-lg-8 col-md-6 col-sm-12 col-12    padding-7" style="padding-bottom:0">
                                <label>Title of Licence</label>
                                <div dx-text-box="txt_LicenceTitle" class="ltr f16"></div>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 col-12    padding-7" style="padding-bottom:0">
                                <label>Date of Initial Issue</label>
                                <div dx-date-box="date_LicenceInitialIssue" class="center"></div>
                            </div>
                            <div class="col-lg-12 col-md-6 col-sm-12 col-12    padding-7" style="padding-bottom:0">
                                <label>Ratings Certificates & Privilages Class/Type/IR</label>
                                <div dx-text-box="txt_RaitingCertificates" class="ltr f16"></div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12    padding-7">
                                <label>Issue</label>
                                <div dx-date-box="date_LicenceIssueDate"></div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-12 col-12    padding-7">
                                <label>Exp</label>
                                <div dx-date-box="date_LicenceExpireDate"></div>
                            </div>
                            <div class="col-lg-12 col-md-6 col-sm-12 col-12    padding-7" style="padding-bottom:0">
                                <label>Description</label>
                                <div dx-text-box="txt_LicenceDescription" class="ltr f16"></div>
                            </div>
                            <div style="clear:both"></div>
                        </div>
                    </div>
                    <div class="col-lg-2" style="padding:0;width:15%">
                        <div style="margin:2px 0px 0  0px;height:300px;" class="groupbox">
                            <div class="caption">Skill Test / Proficiency</div>
                            <div style="padding: 0 5px">
                                <div class="col-lg-12 col-md-6 col-sm-12 col-12    padding-7" style="padding-bottom:0">
                                    <label style="display:block">Type Of Check</label>
                                    <div class="col-lg-6" style="padding:0"><div dx-check-box="chk_ProficiencyIPC"></div></div>
                                    <div class="col-lg-6"><div dx-check-box="chk_ProficiencyOPC"></div></div>
                                </div>
                                <div class="col-lg-12 col-md-6 col-sm-12 col-12    padding-7" style="padding-bottom:0">
                                    <label>Date Of Check</label>
                                    <div dx-date-box="date_ProficiencyCheckDate" class="center"></div>
                                </div>
                                <div class="col-lg-12 col-md-6 col-sm-12 col-12    padding-7">
                                    <label>Valid Until</label>
                                    <div dx-date-box="date_ProficiencyValidUntil" class="center"></div>
                                </div>
                                <div style="clear:both"></div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-2" style="padding:0;width:15%">
                        <div style="margin:2px 5px 0  5px;height:300px;" class="groupbox">
                            <div class="caption">ICAO LPR</div>
                            <div style="padding: 0 5px">
                                <div class="col-lg-12 col-md-6 col-sm-12 col-12    padding-7" style="padding-bottom:0">
                                    <label>Level</label>
                                    <div dx-number-box="txt_ICAOLPRLevel" class="center ltr f16"></div>
                                </div>
                                <div class="col-lg-12 col-md-6 col-sm-12 col-12    padding-7" style="padding-bottom:0">
                                    <label>Valid Until</label>
                                    <div dx-date-box="date_ICAOLPRValidUntil" class="center"></div>
                                </div>

                                <div style="clear:both"></div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-2" style="padding:0;width:15%">
                        <div style="margin:2px 0px 0  0px;height:300px;" class="groupbox">
                            <div class="caption">Medical Certificate</div>
                            <div style="padding: 0 5px">
                                <div class="col-lg-12 col-md-6 col-sm-12 col-12    padding-7" style="padding-bottom:0">
                                    <label>Class</label>
                                    <div dx-number-box="txt_MedicalClass" class="center ltr f16"></div>
                                </div>
                                <div class="col-lg-12 col-md-6 col-sm-12 col-12    padding-7" style="padding-bottom:0">
                                    <label>Issue</label>
                                    <div dx-date-box="date_DateLastCheckUP" class="center"></div>
                                </div>
                                <div class="col-lg-12 col-md-6 col-sm-12 col-12    padding-7">
                                    <label>Exp</label>
                                    <div dx-date-box="date_DateNextCheckUP" class="center"></div>
                                </div>
                                <div style="clear:both"></div>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-2" style="padding:0;width:17%">
                        <div style="margin:2px 10px 0  5px;height:300px;" class="groupbox">
                            <div class="caption">Crew Member Certificate</div>
                            <div style="padding: 0 5px">
                                <div class="col-lg-12 col-md-6 col-sm-12 col-12    padding-7" style="padding-bottom:0">
                                    <label>Employed By</label>
                                    <div dx-text-box="txt_CMCEmployedBy" class="ltr f16"></div>
                                </div>
                                <div class="col-lg-12 col-md-6 col-sm-12 col-12    padding-7" style="padding-bottom:0">
                                    <label>Occupation</label>
                                    <div dx-text-box="txt_CMCOccupation" class="ltr f16"></div>
                                </div>
                                <div class="col-lg-12 col-md-6 col-sm-12 col-12    padding-7">
                                    <label>Date Of Expiry</label>
                                    <div dx-date-box="date_CrewMemberCertificateExpireDate" class="center"></div>
                                </div>
                                <div style="clear:both"></div>
                            </div>

                        </div>
                    </div>


                    <div style="clear:both"></div>
                    <div style="margin:5px 10px 0  5px" class="groupbox">
                        <div class="caption">Organizational</div>
                        <div class="col-lg-5 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                            <label>Department</label>
                            <div dx-select-box="sb_location" dx-validator="{validationGroup:'personadd',  validationRules: [{ type: 'required'}]}"></div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                            <label>Post</label>
                            <div dx-select-box="sb_post" dx-validator="{validationGroup:'personadd',  validationRules: [{ type: 'required'}]}"></div>
                        </div>
                        <div class="col-lg-4 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                            <label>Group</label>
                            <div dx-select-box="sb_group"></div>
                        </div>
                        <div class="col-lg-1 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                            <label>Personnel Id</label>
                            <div dx-text-box="txt_PID" class="center ltr f16" dx-validator="{validationGroup:'personadd',  validationRules: [{ type: 'required'}]}"></div>
                        </div>

                        <div style="clear:both"></div>
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                            <label>Schedule Name</label>
                            <div dx-text-box="{}" class="center ltr f16"></div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                            <label>Code</label>
                            <div dx-text-box="{}" class="center ltr f16"></div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                            <label>Join Company</label>
                            <div dx-date-box="date_DateCompany" class="center"></div>
                        </div>
                        <div class="col-lg-2 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
                            <label>Tel</label>
                            <div dx-text-box="txt_ephone" class="center ltr f16"></div>
                        </div>

                        <div style="clear:both"></div>
                    </div>
                    <div style="clear:both"></div>


                    <div style="clear:both"></div>

                </div>
            </div>
        </div>
        <div class="tab certificate " style="display:none;padding-top:0;">
            <div dx-data-grid="dg_certificate" id="dg_certificate"></div>
        </div>
        <div class="tab course " style="display:none;padding-top:0;">
            <div dx-data-grid="dg_course" id="dg_course"></div>
        </div>
        <div class="tab education" style="display:none;padding-top:0;">
            <div dx-data-grid="dg_education" id="dg_education"></div>
            <!--<div id="scrollview" dx-scroll-view="scroll_education">

        </div>-->
        </div>

        <!--<div class="tab certificate dx-border" style="display:none;padding-top:0;">
        <div id="scrollview" dx-scroll-view="scroll_certificate">

        </div>
    </div>-->

        <div class="tab file" style="display:none;padding-top:0;">
            <div dx-data-grid="dg_file" id="dg_file"></div>
        </div>

        <div class="tab experience" style="display:none;padding-top:0;">
            <div dx-data-grid="dg_exp" id="dg_exp"></div>
        </div>

        <div class="tab rating" style="display:none;padding-top:0;">
            <div dx-data-grid="dg_rating" id="dg_rating"></div>
        </div>
        <div class="tab aircrafttype" style="display:none;padding-top:0;">
            <div dx-data-grid="dg_aircrafttype" id="dg_aircrafttype"></div>
        </div>





    </div>


    <div id="popup_file" dx-popup="popup_file" class="dx-border">
        <div class="col-lg-5 col-md-6 col-sm-12    margin-bottom-5 padding-7">
            <label>Document Type</label>
            <div dx-select-box="sb_DocumentTypeId"  ></div>
        </div>
        <div class="col-lg-7 col-md-6 col-sm-12    margin-bottom-5 padding-7">
            <label>Remark</label>
            <div dx-text-box="txt_DocumentTitle"></div>
        </div>

        <div class="col-lg-3 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
            <div id="uploader_document" dx-file-uploader="uploader_document" class="invisibleuploader"></div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
            <div dx-data-grid="dg_upload" id="dg_upload"></div>
        </div>
        <div class="col-lg-3 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
            <div id="btn_delete_file" dx-button="btn_delete_file"></div>
        </div>
    </div>
    <div id="popup_education" dx-popup="popup_education" class="dx-border">
        <!--<div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Field</label>
            <div dx-text-box="txt_EducationField" dx-validator="{validationGroup:'educationadd',  validationRules: [{ type: 'required'}]}"></div>
        </div>-->
        <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Field of Study</label>
            <div dx-select-box="sb_EducationField"  ></div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>College</label>
            <div dx-text-box="txt_EducationCollege"  ></div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Degree</label>
            <div dx-select-box="sb_EducationDegreeId"  ></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Date</label>
            <div dx-date-box="date_EducationDateCatch"></div>
        </div>

        <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Remark</label>
            <div dx-text-box="txt_EducationRemark"></div>
        </div>
    </div>
    <div id="popup_exp" dx-popup="popup_exp" class="dx-border">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Job Title</label>
            <div dx-text-box="txt_ExpJobTitle" ></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Organization</label>
            <div dx-text-box="txt_ExpOrganization" ></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Aircraft Type</label>
            <div dx-select-box="sb_ExpAircraftTypeId"></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Date From</label>
            <div dx-date-box="date_ExpDateStart"></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Date To</label>
            <div dx-date-box="date_ExpDateEnd"></div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Remark</label>
            <div dx-text-area="txt_ExpRemark"></div>
        </div>
    </div>

    <div id="popup_rating" dx-popup="popup_rating" class="dx-border">
        <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Aircraft Type</label>
            <div dx-select-box="sb_RatingAircraftTypeId"  ></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Organization</label>
            <div dx-select-box="sb_OrganizationId"></div>
        </div>

        <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Issue Date</label>
            <div dx-date-box="date_RatingDateIssue"></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Expire Date</label>
            <div dx-date-box="date_RatingDateExpire"></div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Rate</label>
            <div dx-select-box="sb_RatingCategoryId" ></div>
        </div>
    </div>
    <div id="popup_aircrafttype" dx-popup="popup_aircrafttype" class="dx-border">
        <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Aircraft Type</label>
            <div dx-select-box="sb_AircraftTypeId" ></div>
        </div>
        <div class="col-lg-12 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">
            <label>Remark</label>
            <div dx-text-box="txt_AircraftTypeRemark"></div>
        </div>

    </div>

    <div dx-load-panel="loadPanel"></div>
</div>
