

<style>
    .red {
        background: red !important;
    }

    .yellow {
        background: yellow !important;
    }

    .green {
        background: green !important;
    }
    /*.e-ganttchart .e-gantt-childtaskbar{
            background-color:transparent;
        }
        .e-ganttchart .e-gantt-childtaskbar, .e-ganttchart .e-gantt-parenttaskbar-innerdiv{
            border-style:none;
        }*/
    .e-gantt-template-progressbar {
        background: red !important;
        opacity: 1 !important;
    }

    .e-gantt-template-taskbar.schedule {
        background-color: #f0f0f0;
        color: #000;
    }

    .e-gantt-template-taskbar.takeoff {
        background-color: #00bfff;
        color: #fff;
    }

    .e-gantt-template-taskbar.landing {
        background-color: #3cb371;
        color: #fff;
    }

    .e-gantt-template-taskbar.cancel {
        background-color: #a65959;
        color: #fff;
    }

    .e-gantt-template-taskbar.delay {
        background-color: #ff0000;
        color: #fff;
    }

    .e-gantt-template-taskbar.inactive {
        background-color: #ffff00;
        color: #fff;
    }

    .e-gantt-template-taskbar.diverted {
        background-color: #ee82ee;
        color: #fff;
    }

    .e-gantt-template-taskbar.ground {
        background-color: #ff8000;
        color: #fff;
    }

    .e-gantt-template-taskbar.nodata {
        background-color: #787878;
        color: #fff;
    }

    .lbl_from, .lbl_to {
        font-size: 10px;
    }

    .dx-item.dx-scheduler-appointment.dx-scheduler-appointment-horizontal {
        height: 40px !important;
        background: white !important;
        margin: -3px 1px 0 1px;
    }

        .dx-item.dx-scheduler-appointment.dx-scheduler-appointment-horizontal.dx-state-focused {
            height: 40px !important;
            background: white !important;
            margin: -3px 1px 0 1px;
            border: none !important;
        }

    .dx-scheduler-work-space.dx-scheduler-work-space-month .dx-scheduler-date-table-cell {
        height: 67px !important;
    }

    .dx-scheduler-appointment.dx-state-focused:before {
        background-color: white !important;
    }

    .dx-scheduler-timeline .dx-scheduler-appointment.dx-state-focused:before,
    .dx-scheduler-work-space-month .dx-scheduler-appointment.dx-state-focused:before,
    .dx-scheduler-all-day-appointment.dx-state-focused:before {
        background-color: white !important;
    }

    #dg_flight_total .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_flight_total .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_flight_total .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_flight_total .dx-icon.dx-icon-export-excel-button {
        color: white;
    }




    #dg_regroute .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_regroute .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_regroute .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_regroute .dx-icon.dx-icon-export-excel-button {
        color: white;
    }




    #dg_737 .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_737 .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_737 .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_737 .dx-icon.dx-icon-export-excel-button {
        color: white;
    }




    #dg_detail .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_detail .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_detail .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_detail .dx-icon.dx-icon-export-excel-button {
        color: white;
    }





    #dg_md .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_md .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_md .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_md .dx-icon.dx-icon-export-excel-button {
        color: white;
    }





    .dx-tab {
        background-color: lightgray !important;
    }
    .month {
        -webkit-transition: all 0.4s ease;
        -moz-transition: all 0.4s ease;
        -o-transition: all 0.4s ease;
        transition: all 0.4s ease;
    }
    .month.selected {
        background: #03A9F4 !important;
        color:white !important;
        font-weight:normal;
    }
</style>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="box regmonthreport" style="height:100%;display:none;overflow-y:hidden">


    <div ng-include="'app/views/header.html'" class="rowx header"></div>
    <div ng-include="'app/views/menu.html'"></div>
    <div class="rowx content" style="clear:both">
        


        <!--<div class="col-lg-1 padding-0" style="padding:0 2px 0 2px">
            <div style="border:1px solid gray;background:gray;padding:6px;color:white;text-align:center">Date</div>
            <div class="center dx-border" dx-select-box="sb_yf"  ></div>
        </div>-->

        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 col1" style="padding-right:2px;padding-left:2px;  ">
            <div class="filter-container box  ">
                <div class="filter-container box  ">
                    <div dx-tabs="tabs_options"></div>
                     
                   

                    <div id="b737" class="tabc">
                        <div class="col-lg-6 padding-0" >
                            <div dx-data-grid="dg_737" id="dg_737" class="content" style="overflow-y:hidden"></div>
                        </div>
                        <div class="col-lg-6 padding-0"  >
                            <div class="c737 thin-scroll2" style="overflow-y:auto;padding:10px 40px 10px 40px;" ng-style="getChartBoxStyle()">
                                <div dx-chart="bar_ftl_737"></div>
                                <div dx-chart="bar_ft_737" style="margin-top:20px"></div>
                                <div dx-chart="bar_bt_737" style="margin-top:20px"></div>
                                <div dx-pie-chart="pie_cat" style="margin-top:20px"></div>
                                <div dx-pie-chart="pie_det" style="margin-top:20px"></div>
                            </div>
                           
                        </div>
                        <div style="clear:both"></div>
                    </div>
                    <!--<div id="md" class="tabc">
                        <div class="col-lg-6 padding-0">
                            <div dx-data-grid="dg_md" id="dg_md" class="content" style="overflow-y:hidden"></div>
                        </div>
                        <div class="col-lg-6 padding-0"  >
                            <div class="cmd thin-scroll2" style="overflow-y:auto;padding:10px 40px 10px 40px;" ng-style="getChartBoxStyle()">
                                <div dx-chart="bar_ftl_md"></div>
                                <div dx-chart="bar_ft_md" style="margin-top:20px"></div>
                                <div dx-chart="bar_bt_md" style="margin-top:20px"></div>
                            </div>

                        </div>
                        <div style="clear:both"></div>
                    </div>-->
                    <div id="detail" class="tabc">
                        <div dx-data-grid="dg_detail" id="dg_detail" class="content" style="overflow-y:hidden"></div>
                    </div>
                   


                </div>


            </div>


        </div>



    </div>


    <div class="rowx footer" style="padding:10px !important">
        <div class=" col-lg-12 col-md-11 col-sm-11 col-xs-11" style="padding:0;">
            <table style="width:100%;margin:0;padding:0;">
                <tr>

                    <td style="width:10%;text-align:right;padding-right:5px" class="dx-border"><div class="center" style="background:white;" dx-select-box="sb_fleet"></div></td>
                    <td style="width:10%;text-align:right;padding-right:5px" class="dx-border"><div class="center" style="background:white;" dx-select-box="sb_yf"></div></td>
                    <td class="month m1" style="background:lightgray;color:black;padding:4px;border:1px solid gray;font-family:tahoma;width:6.667%;text-align:center" ng-click="monthClick(1,$event)">فروردین</td>
                    <td class="month m2" style="background:lightgray;color:black;padding:4px;border:1px solid gray;font-family:tahoma;width:6.667%;text-align:center" ng-click="monthClick(2,$event)">اردیبهشت</td>
                    <td class="month m3" style="background:lightgray;color:black;padding:4px;border:1px solid gray;font-family:tahoma;width:6.667%;text-align:center" ng-click="monthClick(3,$event)">خرداد</td>
                    <td class="month m4" style="background:lightgray;color:black;padding:4px;border:1px solid gray;font-family:tahoma;width:6.667%;text-align:center" ng-click="monthClick(4,$event)">تیر</td>
                    <td class="month m5" style="background:lightgray;color:black;padding:4px;border:1px solid gray;font-family:tahoma;width:6.667%;text-align:center" ng-click="monthClick(5,$event)">مرداد</td>
                    <td class="month m6" style="background:lightgray;color:black;padding:4px;border:1px solid gray;font-family:tahoma;width:6.667%;text-align:center" ng-click="monthClick(6,$event)">شهریور</td>
                    <td class="month m7" style="background:lightgray;color:black;padding:4px;border:1px solid gray;font-family:tahoma;width:6.667%;text-align:center" ng-click="monthClick(7,$event)">مهر</td>
                    <td class="month m8" style="background:lightgray;color:black;padding:4px;border:1px solid gray;font-family:tahoma;width:6.667%;text-align:center" ng-click="monthClick(8,$event)">آبان</td>
                    <td class="month m9" style="background:lightgray;color:black;padding:4px;border:1px solid gray;font-family:tahoma;width:6.667%;text-align:center" ng-click="monthClick(9,$event)">آذر</td>
                    <td class="month m10" style="background:lightgray;color:black;padding:4px;border:1px solid gray;font-family:tahoma;width:6.667%;text-align:center" ng-click="monthClick(10,$event)">دی</td>
                    <td class="month m11" style="background:lightgray;color:black;padding:4px;border:1px solid gray;font-family:tahoma;width:6.667%;text-align:center" ng-click="monthClick(11,$event)">بهمن</td>
                    <td class="month m12" style="background:lightgray;color:black;padding:4px;border:1px solid gray;font-family:tahoma;width:6.667%;text-align:center" ng-click="monthClick(12,$event)">اسفند</td>

                    <td></td>


                </tr>
            </table>


        </div>


        <div style="clear:both"></div>
    </div>




    <div dx-load-panel="loadPanel"></div>




</div>
