

<style>
    .red {
        background: red !important;
    }

    .yellow {
        background: yellow !important;
    }

    .green {
        background: green !important;
    }
    /*.e-ganttchart .e-gantt-childtaskbar{
            background-color:transparent;
        }
        .e-ganttchart .e-gantt-childtaskbar, .e-ganttchart .e-gantt-parenttaskbar-innerdiv{
            border-style:none;
        }*/
    .e-gantt-template-progressbar {
        background: red !important;
        opacity: 1 !important;
    }

    .e-gantt-template-taskbar.schedule {
        background-color: #f0f0f0;
        color: #000;
    }

    .e-gantt-template-taskbar.takeoff {
        background-color: #00bfff;
        color: #fff;
    }

    .e-gantt-template-taskbar.landing {
        background-color: #3cb371;
        color: #fff;
    }

    .e-gantt-template-taskbar.cancel {
        background-color: #a65959;
        color: #fff;
    }

    .e-gantt-template-taskbar.delay {
        background-color: #ff0000;
        color: #fff;
    }

    .e-gantt-template-taskbar.inactive {
        background-color: #ffff00;
        color: #fff;
    }

    .e-gantt-template-taskbar.diverted {
        background-color: #ee82ee;
        color: #fff;
    }

    .e-gantt-template-taskbar.ground {
        background-color: #ff8000;
        color: #fff;
    }

    .e-gantt-template-taskbar.nodata {
        background-color: #787878;
        color: #fff;
    }

    .lbl_from, .lbl_to {
        font-size: 10px;
    }

    .dx-item.dx-scheduler-appointment.dx-scheduler-appointment-horizontal {
        height: 40px !important;
        background: white !important;
        margin: -3px 1px 0 1px;
    }

        .dx-item.dx-scheduler-appointment.dx-scheduler-appointment-horizontal.dx-state-focused {
            height: 40px !important;
            background: white !important;
            margin: -3px 1px 0 1px;
            border: none !important;
        }

    .dx-scheduler-work-space.dx-scheduler-work-space-month .dx-scheduler-date-table-cell {
        height: 67px !important;
    }

    .dx-scheduler-appointment.dx-state-focused:before {
        background-color: white !important;
    }

    .dx-scheduler-timeline .dx-scheduler-appointment.dx-state-focused:before,
    .dx-scheduler-work-space-month .dx-scheduler-appointment.dx-state-focused:before,
    .dx-scheduler-all-day-appointment.dx-state-focused:before {
        background-color: white !important;
    }

    #dg_flight_total .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_flight_total .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_flight_total .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_flight_total .dx-icon.dx-icon-export-excel-button {
        color: white;
    }




    #dg_regroute .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_regroute .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_regroute .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_regroute .dx-icon.dx-icon-export-excel-button {
        color: white;
    }




    #dg_total .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_total .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_total .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_total .dx-icon.dx-icon-export-excel-button {
        color: white;
    }




    #dg_reg .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_reg .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_reg .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_reg .dx-icon.dx-icon-export-excel-button {
        color: white;
    }





    #dg_route .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_route .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_route .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_route .dx-icon.dx-icon-export-excel-button {
        color: white;
    }





    .dx-tab {
        background-color: lightgray !important;
    }
    .thin-scroll4::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    .thin-scroll4::-webkit-scrollbar-thumb {
        background-color: #eee;
        outline: 1px solid slategrey;
    }

    .CalContent {
        overflow-y: scroll; /* has to be scroll, not auto */
        -webkit-overflow-scrolling: touch;
        height: calc(100vh - 190px);
    }
</style>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="box training" style="height:100%;display:none;overflow-y:hidden">


    <div ng-include="'app/views/header.html'" class="rowx header"></div>
    <div ng-include="'app/views/menu.html'"></div>
    <div class="rowx content" style="clear:both">
        



        <div class=" col-lg-12 col-md-12 col-sm-12 col-xs-12 col1" style="padding-right:2px;padding-left:2px;  ">
            <div class="filter-container box  ">
                <div class="filter-container box  ">
                    <div dx-tabs="tabs_options"></div>
                    <div id="calendar" class="tabc">
                        <div class="col-lg-4 padding-0">
                            <div dx-data-grid="dg_crew" id="dg_crew" class="content" style="overflow-y:hidden"></div>
                        </div>
                        <div class="col-lg-8 padding-0" style="padding-left:5px;">
                            <div style="border:1px solid #ddd">
                                <div style="background:#898e8c;color:white;padding:10px 10px;text-align:center">
                                    TRAINING DUTIES
                                </div>
                                 
                                <div class="CalContent thin-scroll4">
                                    <div ng-repeat="x in currentCalendar.rows">
                                        <div style="padding:7px;border-bottom:1px solid #ccc;border-top:1px solid #ccc">
                                            <span style="display:inline-block;font-weight:bold;font-size:16px">{{x.Year}}</span>
                                            <span style="display:inline-block;font-weight:bold;font-size:16px;margin-left:5px">{{x.MonthName}}</span>
                                        </div>
                                        <div style="padding:7px;padding-bottom:2px;">
                                            <div ng-repeat="d in x.duties" style="border:1px solid #eee; padding:15px;display:inline-block;float:left;margin-right:5px;margin-bottom:5px;background:#008080;color:white;">
                                                <div><span style="font-weight:bold;font-size:15px;">{{_toDate(d.DateLocal)}}</span><span style="display:inline-block;margin-left:3px;font-size:15px;">({{d.PDate}})</span></div>
                                                <div style="margin-top:5px"><span style="font-size: 15px;">{{_toTime(d.DutyStartLocal)}}</span><span style="display:inline-block;margin-left:3px;margin-right:3px;">-</span><span style="font-size: 15px;">{{_toTime(d.DutyEndLocal)}}</span></div>

                                                <div style="margin-top:5px;font-weight:bold;font-size:15px;">{{d.CourseCode}}</div>
                                                <div style="margin-top:5px;font-size:15px;">{{d.CourseTitle}}</div>
                                               <!-- <div style="margin-top:5px;font-size:14px;">{{d.Remark?d.Remark:'.'}}</div>-->
                                            </div>
                                            <div style="clear:both"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                        </div>
                        <div style="clear:both"></div>
                       
                    </div>
                    <div id="route" class="tabc">
                       <!-- <div dx-data-grid="dg_route" id="dg_route" class="content" style="overflow-y:hidden"></div>-->
                    </div>
                    <div id="register" class="tabc">
                       <!-- <div dx-data-grid="dg_reg" id="dg_reg" class="content" style="overflow-y:hidden"></div>-->
                    </div>
                    <div id="errors" class="tabc">
                        <div dx-data-grid="dg_errors" id="dg_errors" class="content" style="overflow-y:hidden"></div>
                    </div>



                </div>


            </div>


        </div>



    </div>


    <div class="rowx footer">
        <div class=" col-lg-8 col-md-11 col-sm-11 col-xs-11" style="padding:0;">
            <table style="width:100%;margin:0;padding:0;">
                <tr>

                      
                    <td style="width:160px;text-align:left;padding-right:5px"><div dx-button="btn_refresh"></div></td>

                    <td></td> 


                </tr>
            </table>


        </div>


        <div style="clear:both"></div>
    </div>




    <div dx-load-panel="loadPanel"></div>




</div>
