

<style>
    .rptdelayfield {
        background: #ffad99 !important;
        font-weight:bold !important;
    }
    .red {
        background: red !important;
    }

    .yellow {
        background: yellow !important;
    }

    .green {
        background: green !important;
    }
    /*.e-ganttchart .e-gantt-childtaskbar{
            background-color:transparent;
        }
        .e-ganttchart .e-gantt-childtaskbar, .e-ganttchart .e-gantt-parenttaskbar-innerdiv{
            border-style:none;
        }*/
    .e-gantt-template-progressbar {
        background: red !important;
        opacity: 1 !important;
    }

    .e-gantt-template-taskbar.schedule {
        background-color: #f0f0f0;
        color: #000;
    }

    .e-gantt-template-taskbar.takeoff {
        background-color: #00bfff;
        color: #fff;
    }

    .e-gantt-template-taskbar.landing {
        background-color: #3cb371;
        color: #fff;
    }

    .e-gantt-template-taskbar.cancel {
        background-color: #a65959;
        color: #fff;
    }

    .e-gantt-template-taskbar.delay {
        background-color: #ff0000;
        color: #fff;
    }

    .e-gantt-template-taskbar.inactive {
        background-color: #ffff00;
        color: #fff;
    }

    .e-gantt-template-taskbar.diverted {
        background-color: #ee82ee;
        color: #fff;
    }

    .e-gantt-template-taskbar.ground {
        background-color: #ff8000;
        color: #fff;
    }

    .e-gantt-template-taskbar.nodata {
        background-color: #787878;
        color: #fff;
    }

    .lbl_from, .lbl_to {
        font-size: 10px;
    }

    .dx-item.dx-scheduler-appointment.dx-scheduler-appointment-horizontal {
        height: 40px !important;
        background: white !important;
        margin: -3px 1px 0 1px;
    }

        .dx-item.dx-scheduler-appointment.dx-scheduler-appointment-horizontal.dx-state-focused {
            height: 40px !important;
            background: white !important;
            margin: -3px 1px 0 1px;
            border: none !important;
        }

    .dx-scheduler-work-space.dx-scheduler-work-space-month .dx-scheduler-date-table-cell {
        height: 67px !important;
    }

    .dx-scheduler-appointment.dx-state-focused:before {
        background-color: white !important;
    }

    .dx-scheduler-timeline .dx-scheduler-appointment.dx-state-focused:before,
    .dx-scheduler-work-space-month .dx-scheduler-appointment.dx-state-focused:before,
    .dx-scheduler-all-day-appointment.dx-state-focused:before {
        background-color: white !important;
    }

    #dg_flight_total .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_flight_total .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_flight_total .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_flight_total .dx-icon.dx-icon-export-excel-button {
        color: white;
    }




    #dg_flight .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_flight .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_flight .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_flight .dx-icon.dx-icon-export-excel-button {
        color: white;
    }
    .tblsum td {
        padding:5px;
        padding-top:10px;
        padding-bottom:10px;
    }
    .tblsum td:nth-child(even) {
        border-left:1px solid #ccc;
        text-align:center;
        min-width:60px;
    }
        .tblsum td:nth-child(odd) {
             
            text-align: center;
            background:#eee;
            font-weight:bold;
        }
</style>


<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<div class="box delaysreport" style="height:100%;display:none;overflow-y:hidden">


    <div ng-include="'app/views/header.html'" class="rowx header"></div>
    <div ng-include="'app/views/menu.html'"></div>
    <div class="rowx content" style="clear:both">
        <div class=" col-lg-2 col-md-12 col-sm-12 col-xs-12 col1" style="padding-right:2px;padding-left:2px;  ">
            <div class="filter-container box  ">
                <div class="filter-container box  dx-border" style="background:#fff; ">
                    <div style="background:gray;color:white;padding:8px;">Filter</div>
                    <div dx-scroll-view="scroll_1">
                        <div style="padding:5px;border-bottom:1px solid #ccc;padding-top:10px;background:#eee">
                            <table style="width:100%;">
                                <tr>
                                    <td style="text-align:left">Date</td>
                                    <td style="text-align:right">
                                        <div dx-button="btn_persiandate"></div>
                                    </td>
                                </tr>
                            </table>
                        </div>
                        <div class="col-lg-6" style="padding:5px;"> <div class="center" dx-date-box="date_from"></div></div>
                        <div class="col-lg-6" style="padding:5px;"><div class="center" dx-date-box="date_to"></div></div>
                        <div style="clear:both"></div>
                        <div style="padding:5px;border-bottom:1px solid #ccc;padding-top:10px;background:#eee">Range</div>
                        <div style="padding:5px;"> <div dx-select-box="sb_range"></div></div>
                        <div style="clear:both"></div>
                        <div style="padding:5px;border-bottom:1px solid #ccc;padding-top:10px;background:#eee">Flight NO</div>
                        <div style="padding:5px;"> <div dx-text-area="txt_fltnos"></div></div>
                        <div style="clear:both"></div>
                        <div style="padding:5px;border-bottom:1px solid #ccc;padding-top:10px;background:#eee">Route</div>
                        <div style="padding:5px;"> <div dx-tag-box="tag_route"></div></div>


                        <div style="padding:5px;border-bottom:1px solid #ccc;padding-top:10px;background:#eee">Register</div>
                        <div style="padding:5px;"> <div dx-tag-box="tag_reg"></div></div>
                        <div ng-show="isprintvisible" style="padding:5px;border-bottom:1px solid #ccc;padding-top:10px;background:#eee">Categories</div>
                        <div ng-show="isprintvisible" style="padding:5px;"> <div dx-tag-box="tag_cats"></div></div>



                    </div>



                </div>


            </div>


        </div>




        <div class=" col-lg-10 col-md-12 col-sm-12 col-xs-12 col1" style="padding-right:2px;padding-left:2px;  ">
            <div class="filter-container box  ">
                <div class="filter-container box  ">
                    <!-- <div style="background:gray;color:white;padding:7px 5px 8px 5px">Details<i class="fa fa-file-excel-o" ng-click="exportDetails" style="color:lightgreen;font-size:24px;float:right;cursor: pointer;"></i></div>-->
                    <div dx-data-grid="dg_flight" id="dg_flight" class="content" style="overflow-y:hidden"></div>
                    <table class="tblsum" style="margin-top:5px;border:1px solid #ccc;width:100%">
                        <tr>
                            <td>Flights</td>
                            <td>{{summary.flight.Total}}</td>
                            <td>Pax</td>
                            <td style="width:80px">{{summary.flight.Pax}}</td>
                            <td>Bagg.(tone)</td>
                            <td style="width:80px">{{summary.flight.Freight}}</td>
                            <td>Load Factor</td>
                            <td>{{summary.flight.LF}}</td>
                            
                            <td style="width:70px">OnTime</td>
                            <td>{{summary.delayedFlights.OnTime}}</td>
                            <td style="width:80px">31-60 min</td>
                            <td>{{summary.delayedFlights.D3160}}</td>
                            <td style="width:70px">1-2 hrs</td>
                            <td>{{summary.delayedFlights.D61120}}</td>
                            <td style="width:70px">2-3 hrs</td>
                            <td>{{summary.delayedFlights.D121180}}</td>
                            <td style="width:70px">3+ hrs</td>
                            <td>{{summary.delayedFlights.D181}}</td>
                            <td>Delay/Leg</td>
                            <td>{{summary.dlTotal}}</td>
                        </tr>
                    </table>

                </div>


            </div>


        </div>



    </div>


    <div class="rowx footer">
        <div class=" col-lg-8 col-md-11 col-sm-11 col-xs-11" style="padding:0;">
            <table style="width:100%;margin:0;padding:0;">
                <tr>

                    <!--<td style="width:150px;text-align:right;padding-right:5px" class="dx-border"><div class="center" dx-date-box="date_from"></div></td>
    <td style="width:150px;text-align:right;padding-right:5px" class="dx-border"><div class="center" dx-date-box="date_to"></div></td>-->
                    <!--<td style="width:150px;text-align:right;padding-right:5px" class="dx-border"><div class="center" dx-select-box="sb_Status"></div></td>-->
                    <td style="width:130px;text-align:left;padding-right:5px"><div dx-button="btn_search"></div></td>
                    <td ng-show="isprintvisible" style="width:130px;text-align:left;padding-right:5px"><div dx-button="btn_print"></div></td>

                    <td></td>
                    <td style="width:160px;text-align:left;padding-right:5px"><div dx-button="btn_airport"></div></td>

                </tr>
            </table>


        </div>


        <div style="clear:both"></div>
    </div>


    <div id="popup_date" dx-popup="popup_date">
        <div class="margin-bottom-5 padding-7 dx-border" style="padding:25px 0 10px 0">
            <div>
                <label style="width:45px;text-align:right;margin-right:5px;">From</label>

                <input type="text" class="date1 locale-en" style="border: 1px solid gray !important;padding:10px;text-align:center" />
            </div>
            <div style="margin-top:15px;">
                <label style="width:45px;text-align:right; margin-right:5px;">To</label>

                <input type="text" class="date2 locale-en" style="border: 1px solid gray !important;padding:10px;text-align:center" />
            </div>



        </div>


    </div>

    <div dx-load-panel="loadPanel"></div>




</div>
