<link href="sfstyles/ejthemes/default-theme/ej.web.all.min.css" rel="stylesheet" />
<link href="sfstyles/default.css" rel="stylesheet" />
<link href="sfstyles/default-responsive.css" rel="stylesheet" />
<link href="sfstyles/ejthemes/responsive-css/ej.responsive.css" rel="stylesheet" />

<style>
    .red {
        background: red !important;
    }

    .yellow {
        background: yellow !important;
    }

    .green {
        background: green !important;
    }
    /*.e-ganttchart .e-gantt-childtaskbar{
            background-color:transparent;
        }
        .e-ganttchart .e-gantt-childtaskbar, .e-ganttchart .e-gantt-parenttaskbar-innerdiv{
            border-style:none;
        }*/
    .e-gantt-template-progressbar {
        background: red !important;
        opacity: 1 !important;
    }

    .e-gantt-template-taskbar.schedule {
        background-color: #f0f0f0;
        color: #000;
    }

    .e-gantt-template-taskbar.takeoff {
        background-color: #00bfff;
        color: #fff;
    }

    .e-gantt-template-taskbar.overlap {
        background-color: #f44336;
        color: #fff;
    }

    .e-gantt-template-taskbar.gap {
        background-color: orange;
        color: #fff;
    }
    .e-gantt-template-taskbar.gapoverlap {
        background-color: #8b0000;
        color: #fff;
    }

    .e-gantt-template-taskbar.new {
        background-color: #2196F3;
        color: #fff;
    }

    .e-gantt-template-taskbar.updated {
        background-color: #4CAF50;
        color: #fff;
    }

    .e-gantt-template-taskbar.landing {
        background-color: #3cb371;
        color: #fff;
    }

    .e-gantt-template-taskbar.cancel {
        background-color: #a65959;
        color: #fff;
    }

    .e-gantt-template-taskbar.delay {
        background-color: #ff0000;
        color: #fff;
    }

    .e-gantt-template-taskbar.inactive {
        background-color: #ffff00;
        color: #fff;
    }

    .e-gantt-template-taskbar.diverted {
        background-color: #ee82ee;
        color: #fff;
    }

    .e-gantt-template-taskbar.ground {
        background-color: #ff8000;
        color: #fff;
    }

    .e-gantt-template-taskbar.nodata {
        background-color: #787878;
        color: #fff;
    }

    .lbl_from, .lbl_to {
        font-size: 10px;
    }

    .e-gantt-parenttaskbar-innerdiv.e-chartexpand.e-parentTask {
        display: none;
    }

    .e-gantt-taskbarSelection .e-gantt-childtaskbar {
        border: 2px solid yellow
    }
</style>
<div ng-controller="flightDesignController">
    <div id="popup_add" dx-popup="popup_add" class="no-padding">
        <div id="gantt_container">
            <!--<div id="resourceGantt" style="height:450px;width:100%;" data-bind="ejGantt: gantt_option" />-->
            <!-- <div id="one" data-bind="html: details"></div>-->
        </div>

    </div>






    <!--<div ng-include="'app/views/jobgroupSelect.html'"></div>-->
    <div dx-load-panel="loadPanel"></div>



    <div id="popup_item" dx-popup="popup_item">
        <div style="padding:10px 0 0 0" class="dx-border">
            <div class="col-lg-5 col-md-3 col-sm-12 col-12  margin-bottom-5 padding-7">
                <label>Aircraft Type</label>
                <div dx-select-box="sb_type" dx-validator="{validationGroup:'flightplanitem',  validationRules: [{ type: 'required'}]}"></div>
            </div>
            <div class="col-lg-7 col-md-3 col-sm-12 col-12  margin-bottom-5 padding-7">
                <label>Register</label>
                <div dx-select-box="sb_msn"></div>
            </div>
            <!--<div class="col-lg-12 col-md-3 col-sm-12 col-12  margin-bottom-5 padding-7">
                <label>Route</label>
                <div dx-select-box="sb_route" dx-validator="{validationGroup:'flightplanitem',  validationRules: [{ type: 'required'}]}"></div>
            </div>-->

            <div class="col-lg-6 col-md-3 col-sm-12 col-12  margin-bottom-5 padding-7">
                <label>From</label>
                <div dx-select-box="sb_FromAirport" dx-validator="{validationGroup:'flightplanitem',  validationRules: [{ type: 'required'}]}"></div>
            </div>
            <div class="col-lg-6 col-md-3 col-sm-12 col-12  margin-bottom-5 padding-7">
                <label>To</label>
                <div dx-select-box="sb_ToAirport" dx-validator="{validationGroup:'flightplanitem',  validationRules: [{ type: 'required'}]}"></div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-12  margin-bottom-5 padding-7">
                <label>Departure</label>
                <div class="center" dx-date-box="time_start" dx-validator="{validationGroup:'flightplanitem',  validationRules: [{ type: 'required'}]}"></div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-12  margin-bottom-5 padding-7">
                <label>Flight Hour(s)</label>
                <div class="center" dx-number-box="text_flighth" dx-validator="{validationGroup:'flightplanitem',  validationRules: [{ type: 'required'}]}"></div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-12  margin-bottom-5 padding-7">
                <label>Flight Minute(s)</label>
                <div class="center" dx-number-box="text_flightm" dx-validator="{validationGroup:'flightplanitem',  validationRules: [{ type: 'required'}]}"></div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-12  margin-bottom-5 padding-7">
                <label>Arrival</label>
                <div class="center" dx-date-box="time_end"></div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-12 col-12  margin-bottom-5 padding-7">
                <label>Flight Number</label>
                <div class="center" dx-text-box="text_flightnumber" dx-validator="{validationGroup:'flightplanitem',  validationRules: [{ type: 'required'}]}"></div>
            </div>
            <div class="col-lg-9 col-md-3 col-sm-12 col-12  margin-bottom-5 padding-7">
                <label>Flight Type</label>
                <div dx-select-box="sb_flighttype" dx-validator="{validationGroup:'flightplanitem',  validationRules: [{ type: 'required'}]}"></div>
            </div>


            <!--<div class="col-lg-4 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">

                <div dx-check-box="chb_SMS"></div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">

                <div dx-check-box="chb_Email"></div>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 col-12  margin-bottom-5 padding-7">

                <div dx-check-box="chb_AppNotification"></div>
            </div>-->
        </div>

    </div>

    <!--<div ng-include="'app/views/templates.html'"></div>-->
    <script type="text/x-jsrender" id="taskbarTemplate">
        <!--{{if  #get("array").data.length>0}}
        {{:~renderCompleted(#data['taskId'],#get("array").data.length)}} {{/if}}-->


        <div class="e-gantt-template-taskbar bg-color {{statusClass:#data['taskId']}}" style="border-radius:5px;overflow:hidden;-webkit-transform:translateZ(0);-webkit-mask-image: -webkit-radial-gradient(circle, white, black);">

            <div>

                {{if #data['resourceNames']}}
                <div id="task-{{:#data['taskId']}}" style="text-align:center">

                    <span class="tasknametext" style=" z-index:1;font-size:11px;font-weight:normal;  top:6px; font-family:'Segoe UI';overflow:hidden;text-overflow:ellipsis;width:40%;position:relative"> {{:#data['taskName']}}{{:#data['from']}}</span>


                </div>















                <!--<span class="resourcenametext" style="position:absolute;z-index:1;font-size:12px;color:white;top:25px;left:40px;font-family:'Segoe UI';overflow:hidden;text-overflow:ellipsis;width:40%;opacity:0.5">{{:#data['resourceNames']}}</span>
                <span class="progresstext" style="margin-top:22px;margin-right:4px;position:relative;float:right;color:white;z-index:1;font-family:'Segoe UI';font-size:14px;">{{:#data['status']}}%</span>-->
                {{else}}
                <!--<span style="margin:6px 14px 0 0;position:relative;float:right;color:white;z-index:1;">{{:#data['status']}}% {{:#data['taskName']}}</span>-->
                <div id="task-{{:#data['taskId']}}" style="text-align:center">

                    <span class="tasknametext" style=" z-index:1;font-size:14px;color:white;top:7px;left:40px;font-family:'Segoe UI';overflow:hidden;text-overflow:ellipsis;width:40%;"> {{:#data['taskName']}}{{:#data['from']}}</span>


                </div>
                {{/if}}
            </div>

            {{if #data['status']>0}}
            <div class="e-gantt-template-progressbar KKK" style="font-size:10px;overflow:visible;opacity:0.2;text-align:center;color:white;padding-top:10px;">
                {{round: ~getDelay(#data['taskId'])  }}

            </div>

            {{/if}}


        </div>



        {{:~renderCompleted(#data['taskId'],#getIndex())}}

    </script>
    <script type="text/x-jsrender" id="taskbarTemplate1">

        <div class="e-gantt-template-taskbar bg-color vahid {{:#data['notes']}}" style="border-radius:5px;overflow:hidden;-webkit-transform:translateZ(0); ">
            <!--<table style="width:100%;height:36px;position:absolute;top:0;left:0;">
                <tr>
                    <td style="width:25%; background:red"></td>
                    <td style="width:75%; background:skyblue">


                    </td>

                </tr>
            </table>-->

            <div>
                {{if #data['resourceNames']}}

                <div>{{:#data['taskId']}}</div>
                {{else}}
                <span style="margin:6px 14px 0 0;position:relative;float:right;color:white;z-index:1;">{{:#data['status']}}%</span>
                {{/if}}

            </div>
            <div class="e-gantt-template-progressbar" style="font-size:13px;overflow:visible;opacity:1;background:red">

            </div>
        </div>
    </script>
    <script id="leftlableTemplate" type="text/x-jsrender">

        <div style="padding-top:5px;">
            <span>{{:#data['taskName']}}  [{{:status}}%]</span>
        </div>

    </script>

</div>
