<style>
   /* .fuContent {
        overflow-y: scroll;  
        -webkit-overflow-scrolling: touch;
        height: calc(100vh - 130px);
    }

    @media (max-width: 600px) {
        .fuHeader {
            display: none;
        }

        .fuContent2 {
            height: calc(100vh - 230px);
        }
    }

    @media (min-width: 1200px) {
        .fuContent2 {
            height: calc(100vh - 200px);
        }
    }*/

    .thin-scroll3::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    .thin-scroll3::-webkit-scrollbar-thumb {
        background-color: #ddd;
        outline: 1px solid slategrey;
    }

    .tile-inf {
        border: 1px solid #ccc;
        margin: 5px 5px 5px 0;
        text-align: center;
        border-radius: 2px;
        padding: 3px;
        background: white;
    }

        .tile-inf .caption {
            font-size: 14px;
            padding: 4px 1px 3px 1px;
            color: #666666 !important;
            font-weight: normal
        }

        .tile-inf .value {
            font-size: 14px;
            font-weight: bold;
            padding: 1px 1px 2px 1px;
        }

        .tile-inf td {
            background: white;
        }

    .thin-scroll4::-webkit-scrollbar {
        width: 6px;
        height: 6px;
    }

    .thin-scroll4::-webkit-scrollbar-thumb {
        background-color: #eee;
        outline: 1px solid slategrey;
    }

    .thin-scroll5::-webkit-scrollbar {
        width: 3px;
        height: 3px;
    }

    .thin-scroll5::-webkit-scrollbar-thumb {
        background-color: #eee;
        outline: 1px solid slategrey;
    }

    .padding-5 .dx-popup-content {
        padding: 0px !important;
    }

    .dx-overlay-wrapper {
        padding: 0 !important
    }

    .dx-popup-content {
        padding: 0 !important;
    }


    #dg_monthly .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_monthly .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_monthly .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_monthly .dx-icon.dx-icon-export-excel-button {
        color: white;
    }




    .pos {
        color: green;
    }

    .neg {
        color: red;
    }

    .nut {
        color: gray;
    }

    .fsymbol {
        font-size: 20px;
        margin-left: 5px;
    }

    .dx-tab {
        background-color: lightgray !important;
    }

    .tbl-types td {
        padding: 5px;
    }

        .tbl-types td:first-child {
            padding-left: 0;
        }

        .tbl-types td:last-child {
            padding-right: 0;
        }

    .off-type {
        background: #eee;
        color: black;
    }

    .on-type {
        background: #a6a6a6;
        color: white;
    }

    #dg_monthly2 .dx-datagrid-header-panel {
        padding: 0;
        background-color: gray;
        color: white;
    }

        #dg_monthly2 .dx-datagrid-header-panel .dx-toolbar {
            margin: 0;
            padding-right: 20px;
            background-color: transparent;
            padding-left: 10px;
        }

        #dg_monthly2 .dx-datagrid-header-panel .dx-toolbar-items-container {
            height: 35px;
        }

    #dg_monthly2 .dx-icon.dx-icon-export-excel-button {
        color: white;
    }
</style>


<div ng-controller="kpiDelayAirportController" class="bifuelroute">
    <div id="popup" dx-popup="popup">
        <div class="wrapper " style="padding:10px;background-color:whitesmoke">
            <div class="padding-0" style="padding:15px; border:1px solid #ccc;background:white;margin-top:0px">

                <table style="width:100%;">
                    <tr>
                        <td>
                            <div dx-tag-box="tagYears" style="padding:4px;margin-bottom:5px;"></div>
                        </td>
                        <!--<td style="padding:5px;text-align:center;width:10%;position:relative;top:-3px">
                            <div style="border:1px solid #ccc;background:#eee;padding:7px;font-weight:bold" class="show-cat show-cat-chart on-type" ng-click="showCatCharts()">Charts</div>
                        </td>
                        <td style="padding:5px;text-align:center;width:10%;position:relative;top:-3px">
                            <div style="border:1px solid #ccc;background:#eee;padding:7px;font-weight:bold" class="show-cat show-cat-table " ng-click="showCatTable()">Table</div>
                        </td>-->

                    </tr>
                </table>
                <div class="thin-scroll5" style="overflow-x:auto;width:80%;float:left;padding-right:5px;padding-left:5px;border:1px solid #ccc">
                    <table style=" margin:0" class="tbl-types">
                        <tr>
                            <td style="text-align:center;min-width:80px" ng-repeat="t in grouped">
                                <div style="text-align:center;border:1px solid #ccc;padding:5px;font-weight:bold;font-size:11px;" ng-class="getTypeSelectedClass(t.Airport)" ng-click="selectType(t.Airport)">
                                    {{t.Airport}}
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
                <table style="width:20%;float:left;margin-left:0%;margin-top:0px">
                    <tr>

                        <td style="padding:5px;text-align:center;width:50%;position:relative;top:-3px">
                            <div style="border:1px solid #ccc;background:#eee;padding:7px;font-weight:bold" class="show-tab show-tab-overall on-type" ng-click="showOverall()">Overall</div>
                        </td>
                        <td style="padding:5px;text-align:center;width:50%;position:relative;top:-3px">
                            <div style="border:1px solid #ccc;background:#eee;padding:7px;font-weight:bold" class="show-tab show-tab-cat " ng-click="showCats()">Categories</div>
                        </td>

                    </tr>
                </table>
                <div style="clear:both"></div>
                <div class="thin-scroll3" dx-scroll-view="scroll_1" ng-show="IsChartVisible && IsOverallVisible">
                    <div class="col-lg-7 padding-0" style="padding-right:20px;">
                        <div dx-chart="chart_monthly_rpk" style="margin-top:20px"></div>
                    </div>
                    <div class="col-lg-5 padding-0" style="padding-left:20px;">
                        <div dx-chart="chart_monthly_rpktotalpanes" style="margin-top:20px"></div>
                    </div>
                    <div style="clear:both"></div>
                    <div class="col-lg-7 padding-0" style="padding-right:20px;">
                        <div dx-chart="chart_monthly_dc" style="margin-top:20px"></div>
                    </div>
                    <div class="col-lg-5 padding-0" style="padding-left:20px;">
                        <div dx-chart="chart_monthly_dcpanes" style="margin-top:20px"></div>
                    </div>
                    <div style="clear:both"></div>
                    <div class="col-lg-7 padding-0" style="padding-right:20px;">
                        <div dx-chart="chart_monthly_oc" style="margin-top:20px"></div>
                    </div>
                    <div class="col-lg-5 padding-0" style="padding-left:20px;">
                        <div dx-chart="chart_monthly_ocpanes" style="margin-top:20px"></div>
                    </div>
                    <div style="clear:both"></div>
                    <div style="border:1px solid gray;background:#eee;padding:7px;font-size:16px;margin:10px 0 10px 0">
                        Delays Duration
                    </div>
                    <div class="col-lg-4 padding-0">
                        <div dx-polar-chart="polar_time30" style="margin-top:0px"></div>
                    </div>
                    <div class="col-lg-4 padding-0">
                        <div dx-polar-chart="polar_time30p" style="margin-top:0px"></div>
                    </div>
                    <div class="col-lg-4 padding-0">
                        <div dx-polar-chart="polar_time180" style="margin-top:0px"></div>
                    </div>
                    <div style="clear:both"></div>
                    <div class="col-lg-4 padding-0">
                        <div dx-polar-chart="polar_time3060" style="margin-top:0px"></div>
                    </div>
                    <div class="col-lg-4 padding-0">
                        <div dx-polar-chart="polar_time60120" style="margin-top:0px"></div>
                    </div>
                    <div class="col-lg-4 padding-0">
                        <div dx-polar-chart="polar_time120180" style="margin-top:0px"></div>
                    </div>
                    <div style="clear:both"></div>
                    <div style="border:1px solid gray;background:#eee;padding:7px;font-size:16px;margin:10px 0 10px 0">
                        Delays Occurance
                    </div>
                    <div class="col-lg-4 padding-0">
                        <div dx-polar-chart="polar_30" style="margin-top:0px"></div>
                    </div>
                    <div class="col-lg-4 padding-0">
                        <div dx-polar-chart="polar_30p" style="margin-top:0px"></div>
                    </div>
                    <div class="col-lg-4 padding-0">
                        <div dx-polar-chart="polar_180" style="margin-top:0px"></div>
                    </div>
                    <div style="clear:both"></div>
                    <div class="col-lg-4 padding-0">
                        <div dx-polar-chart="polar_3060" style="margin-top:0px"></div>
                    </div>
                    <div class="col-lg-4 padding-0">
                        <div dx-polar-chart="polar_60120" style="margin-top:0px"></div>
                    </div>
                    <div class="col-lg-4 padding-0">
                        <div dx-polar-chart="polar_120180" style="margin-top:0px"></div>
                    </div>
                    <div style="clear:both"></div>
                </div>

                <div>
                    <div class="col-lg-1 padding-0" style="padding:5px 5px 0 0px" ng-show="IsCatsVisible">

                        <div ng-repeat="cn in catNames" style="margin-bottom:7px;background:#eee;padding:7px 5px 7px 5px;border:1px solid gray;text-align:center" ng-class="getCatSelectedClass(cn)" ng-click="selectCat(cn)">
                            <div style="font-size:12px;">{{cn}}</div>
                        </div>
                    </div>
                    <div class="col-lg-11 padding-0" style="padding-left:20px;" ng-show="IsChartVisible && IsCatsVisible">

                        <div class="col-lg-7 padding-0 thin-scroll3" style="padding-right:10px;" dx-scroll-view="scroll_2">
                            <div dx-chart="chart_monthly_catdc" style="margin-top:10px"></div>
                            <div dx-chart="chart_monthly_catoc" style="margin-top:10px"></div>
                            <div dx-chart="chart_monthly_catdelay" style="margin-top:10px"></div>
                            <div dx-chart="chart_monthly_catocc" style="margin-top:10px"></div>

                        </div>
                        <div class="col-lg-5 padding-0 thin-scroll3" style="padding-left:20px;" dx-scroll-view="scroll_3">

                            <div dx-chart="chart_monthly_aptdelay" style="margin-top:10px"></div>
                            <div dx-chart="chart_monthly_aptcycle" style="margin-top:10px"></div>
                        </div>

                        <div style="clear:both"></div>

                    </div>
                    <div style="clear:both"></div>
                </div>

                <div class="thin-scroll3" dx-scroll-view="scroll_1" ng-show="IsChartVisible">
                    <!--<div ng-show="IsOverallVisible">

                            </div>
                            <div ng-show="IsCatsVisible">


                                <div ng-repeat="apt in groupedAirportsCats">
                        <div style="font-weight:bold;font-size:16px;margin:0 0 10px 0;padding-left:15px; padding:7px;background:#eee;border-bottom:1px solid #ccc;border-top:1px solid #ccc">{{apt.Airport}}  </div>
                        <div ng-repeat="cat in apt.categories" on-finish-render="ngRepeatFinishedCatsAirports">
                        </div>
                    </div>
                            </div>-->
                    <!--magu-->
                </div>

            </div>

        </div>

    </div>
    <div dx-load-panel="loadPanel"></div>
    <div dx-load-panel="loadPanelDaily"></div>
    <div ng-include="'app/views/tblDelayAirport.html'"></div>
</div>
