<div ng-controller="mlistAddController">
    <div id="popup_add" dx-popup="popup_add" class="no-padding">
        <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 " style="padding:5px 0 0 0;">
            <div dx-data-grid="dg_first" id="dg_first" class="content" style="overflow-y:hidden"  ></div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12 col-12  " style="padding:5px 0px 0px 5px;">
            <div dx-data-grid="dg_second" id="dg_second" class="content" style="overflow-y:hidden"></div>
        </div>
    </div>

    <div dx-load-panel="loadPanel"></div>
</div>
